<!DOCTYPE html>
<html ng-app="jobDetailsController">
<head>
    <meta charset="utf-8">
    <title>OLYMPIA</title>
    
    <link href="../../img/olympia-fav.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="../../lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="../../css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/organization/postJob/postJob.css"/>
    <link href="../../css/global.css" rel="stylesheet">
    <link href="../../css/organization/viewApp/viewApp.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700&subset=latin,cyrillic-ext,greek-ext,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
    <link href="../../css/volunteer/jobDetails/jobDetails.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../css/header/header.css">
    <style type="text/css">
        .containerA{
            width: 1008px;
            margin: 0 auto;
        }
        .navbar-default .navbar-brand img {
            position: relative;
            top: -32px;
            height: 90px;
            min-width: 100px;
        }
    </style>
</head>

<body ng-controller="jobDetails" ng-style="{'background-color': colorBackground, 'background-image' : 'none', 'color': colorBodyText, 'font-family': fontFace, 'font-size': bodySize}">
    <!-- Page Header Section Start-->
    <header>
        <div class="navbar navbar-default" role="navigation" ng-style="{'background-color': topBar, 'border-color': topBar}" style="height: 110px;">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{headerImageLink}}" ng-if="clientImage == 'undefined' || clientImage == ''"><img src="../../img/logo.png"></a>
                    <a class="navbar-brand padding-bottom-20" href="http://{{headerImageLink}}" ng-if="clientImage !== ''"><img ng-src="{{clientImage}}"></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
                    <!-- Volunteer Menu Start-->
                    <ul class="nav navbar-nav" ng-class="{ishidden: topBar}">
                        <li class="active"><a href="../searchJob/searchJob.html" class='menu-interval' ng-style="{'color': topBarText}">Search Job</a></li>
                        <li><a href="../jobApplication/jobApplication.html" class='menu-interval' ng-style="{'color': topBarText}">Job Applications</a></li>
                        <li><a href="#" class='menu-interval' ng-style="{'color': topBarText}">Recommendations</a></li>
                        <li><a href="../../message/message.html?owner=volunteer" class='menu-interval' ng-style="{'color': topBarText}">Messages</a></li>
                    </ul>
                    <!-- Volunteer Menu end here-->
                    <ul class="nav navbar-nav navbar-right" ng-class="{ishidden: topBar}">
                        <li class='pull-right'><a href="#" id="icons-header-right" ><span class="fa fa-question"></a></li>
                        <li class='dropdown pull-right'>
                            <a href="#" class="dropdown-toggle" id="icons-header-right" data-toggle="dropdown"><i class='fa fa-cog'></i></a>
                            <ul class="dropdown-menu">
                                <li role="presentation"><a role="menuitem" href="../organizationProfile/organizationProfile.html"><img src="../../img/VV_Icon_OrganizationLogo.png" width="25" height="25"> My Profile</a></li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation"><a role="menuitem" href="../../myAccount/myAccount.html?owner=organization">&nbsp;<i class='fa fa-wrench'></i> &nbsp;My Account</a></li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation"><a role="menuitem" href="../../changePassword/changePassword.html?owner=organization">&nbsp;<i class='glyphicon glyphicon-cog'></i> &nbsp;Change Password</a></li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation"><a role="menuitem" href="../../notificationSettings/notificationSettings.html?owner=organization">&nbsp;<i class='fa fa-bell'></i> &nbsp;Notification Settings</a></li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation"><a role="menuitem" href="../../integrationSettings/integrationSettings.html?owner=organization">&nbsp;<i class='fa fa-list-alt'></i> &nbsp;Integration Settings</a></li>
                            </ul>
                        </li>
                        <li class='pull-right'><a href="#" id="icons-header-right"><span class="fa fa-exclamation"></a></li>
                        <li class="dropdown pull-right" style="margin-top:5px;" id="username" ng-init="client = true; organization = false">
                            <a href="#" class="dropdown-toggle"  id="hover-header-right" data-toggle="dropdown"  ng-if="organization == true">Organization &nbsp;<b class="caret"></b></a>
                            <a href="#" class="dropdown-toggle"  id="hover-header-right" data-toggle="dropdown" ng-if="client == true">Volunteer &nbsp;<b class="caret"></b></a>
                            <ul class="dropdown-menu header-right-dropdown" ng-init=" addActive1 = 'make-it-white'">
                                <li role="presentation" ><a role="menuitem" ng-model="organization" ng-click="organization = true; client = false; addActive2 = 'make-it-white';addActive1=''"  href="../../organization/search/searchVol.html" id="tab-header-1" ng-class="addActive2"><img src="../../img/VV_Icon_OrganizationLogo.png" width="28" height="28">&nbsp;&nbsp;&nbsp;Organization</a></li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation" ><a role="menuitem" ng-model="client" ng-click="organization = false; client = true; addActive1 = 'make-it-white';addActive2=''" href="../../volunteer/searchJob/searchJob.html" ng-class="addActive1"><img src="../../img/VV_Icon_Profile.png" width="28" height="28">&nbsp;&nbsp;&nbsp;Volunteer</a></li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation" id="separate-highlight"> 
                                    <span><a role="menuitem"  href="../../myAccount/myAccount.html?owner=volunteer" ng-if="client == true">sander_mrbrown</a></span>
                                    <span><a role="menuitem"  href="../../myAccount/myAccount.html?owner=volunteer" ng-if="organization == true">sander_mrbrown</a></span>
                                    <span><a role="menuitem"  href="../../login/login.html">Logout</a></span>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </div>
    </header>
    <div class="containerA">
        <div class="row margin-rl-0">
            <div class="col-sm-8 padding-rl-0">
                <div class="main-border1">
                    <div class="panel-title" ng-style="{'color': colorHeading, 'font-size': headingSize}">
                        <span ng-bind="jobName"></span>
                    </div>
                    <div>
                        <strong>Event Type: </strong><span>Event&nbsp;</span>
                        <strong>Posted: </strong><span ng-bind="jobDate"></span>
                    </div>
                    <br />
                    <h5 class="margin-top-0 margin-bottom-0 bold" ng-style="{'color': colorHeading, 'font-size': subHeadingSize}">Job Description</h5>
                    <p>Community workers help to improve the lives of disadvantaged individuals and groups by facilitating change and providing the means for self-help within community settings.</p>
                    <p>Community workers help those who are marginalised and excluded from society to change their situation and tackle the problems that face their community. They sometimes work with communities as a whole, but they may also focus on specific groups, such as women and travellers. Community workers operate in teams, liaising closely with the police, social workers, teachers, local authorities, probation officers and other agencies. They represent the voices and needs of target groups and disadvantaged communities to policy makers at local and national level.</p>

                    <br />
                    <h5 class="margin-top-0 margin-bottom-0 bold" ng-style="{'color': colorHeading, 'font-size': subHeadingSize}">Responsibilities</h5>
                    <ul class="errorList">
                        <li>Working with community groups providing a range of activities</li>
                        <li>Identifying and building on communities’ assets and capacities</li>
                        <li>Helping communities to share knowledge and resources effectively</li>
                        <li>Setting up new services by liaison with interested groups</li>
                        <li>Recruiting and training paid and voluntary staff</li>

                        <li>Attending meetings and presenting verbal and written reports</li>
                        <li>Managing finance and payroll</li>
                        <li>Making funding applications</li>
                        <li>Facilitating self-help in the community</li>
                    </ul>
                    <br>
                    <p>Local travel can be a regular feature of the job, although overseas travel is rare. Overseas work is possible however with organisations such as Goal.</p>
                    <p>The job of a community worker can require regular unsocial hours including evenings and weekends. Community workers operate mainly in disadvantaged communities within inner-city areas, rural areas and small towns.</p>
                    <br />
                    <h5 class="margin-top-0 margin-bottom-0 bold" ng-style="{'color': colorHeading, 'font-size': subHeadingSize}">Key skills for community workers</h5>
                    <ul class="errorList">
                        <li>Ability to relate to people from a wide range of backgrounds and to engage with target groups</li>
                        <li>In-depth understanding of related policies</li>
                        <li>Excellent written and oral communication skills including report writing</li>
                        <li>Commitment and enthusiasm</li>
                        <li>Good leadership, motivational and organisational skills</li>

                        <li>Capable of working both on own initiative and as part of a team</li>
                        <li>Sincerity, patience, tact and the ability to earn the trust of others</li>
                        <li>Making funding applications</li>
                        <li>Excellent listening skills and confidence in talking to people both in groups and on a one-to-one basis</li>
                    </ul>
                    <br>
                    <p>Applicants for postgraduate programmes will normally need to have experience of working with communities, neighbourhood groups, youth organisations or other similar groups.Newly-qualified community workers will normally train on the job with the support of experienced colleagues and continuing professional development will be made available through a range of courses, seminars and conferences.In line with national provisions for the protection of children and vulnerable adults, applicants for jobs and training programmes will normally be required to undergo checks with the Criminal Records Bureau.</p>

                </div>
                <div class="main-border1 background-green" ng-if="SITV">
                    <h5 class="bold" ng-style="{'color': colorHeading, 'font-size': subHeadingSize}">Instructions</h5>
                    <p ng-bind="messageInstruction"></p>
                </div>
            </div>
            <div class="col-sm-4 padding-right-0">
                <div class="margin-bottom-10" ng-if="showApplyButton">
                    <button class="btn btn-primary active apply-button" type="button" ng-style="{'background-color':buttonBackColor, 'color': buttonColor}" ng-click="applyToJob()">Apply to this Job</button>
                </div>
                <div class="main-border1" ng-if="showOrgDetails">
                    <h5 class="bold" ng-style="{'color': colorHeading, 'font-size': subHeadingSize}">Organization</h5>
                    <div class="row">
                        <div class="col-sm-2">
                            <img src="{{clientImage}}" height="50" width="50">
                        </div>
                        <div class="col-sm-10">
                            <span><a href="../../organization/organizationpcms/organizationpcms.html?organizationName=Red Cross NL">Red Cross NL</a></span>
                            <p>Riders Club is more than just a way to get from here to there. Riders Club is a way to maintain freedom. Our mission is very simple: We provide scheduled transportation for mobile seniors. <span><a href="#" class="pull-right">more >></a></span></p>
                            
                        </div>
                    </div>
                    <label class="margin-bottom-0" >Area of foucs</label>
                    <div class="row margin-rl-0 margin-top--3">
                        <span class="small-pill" ng-repeat="areaOfFocus in areaFocuses">{{areaOfFocus}}</span>
                    </div>
                </div>

                <div class="main-border1" ng-init="hideMap = false"  ng-if="showJobLocation">
                    <h5 class="bold" ng-style="{'color': colorHeading, 'font-size': subHeadingSize}">Location (s)</h5>
                    <div class="grid">
                        <p><label>A - </label> Evert va de Beekstraat 202, 1118 CP Coevorden, Netherlands</p>
                        <p><label>B - </label> Evert va de Beekstraat 342, 25 AB Vroomshoop, Netherlands
                            <a href="" class="pull-right" ng-click="hideMap = true" ng-show="!hideMap">Hide map</a>
                            <a href="" class="pull-right" ng-click="hideMap = false" ng-show="hideMap">Show map</a>
                            </p>
                    </div>
                    <div class="grid" ng-if="!hideMap">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4884.242518322868!2d6.219930051904146!3d52.25934304268567!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4fcf143d1059e0f4!2sApotheek+De+Vijfhoek!5e0!3m2!1sen!2sin!4v1407835821567" width="290" height="200" frameborder="0" style="border:0" id="frame">
                        </iframe>
                    </div>
                </div>

                <div class="main-border1" ng-if="showOrgADDDetails">
                    <label class="margin-bottom-0">Skills needed:</label>
                    <div class="row margin-rl-0 margin-bottom-15 margin-top--3">
                        <span class="small-pill" ng-repeat="skills in postJobSkills">{{skills}}</span>
                    </div>
                    <label class="margin-bottom-0">Diploam/Certificates needed:</label>
                    <div class="row margin-rl-0 margin-bottom-15 margin-top--3">
                        <span class="small-pill" ng-repeat="diploma in postJobDiploma">{{diploma}}</span>
                    </div>
                    <label class="margin-bottom-0">Time commitment:</label>
                    <div class="row margin-rl-0 margin-bottom-15 margin-top--3">
                        <span class="small-pill" ng-repeat="time in postJobTime">{{time}}</span>
                    </div>
                    <label class="margin-bottom-0">Estimated duration:</label>
                    <div class="row margin-rl-0 margin-bottom-15 margin-top--3">
                        <span class="small-pill" ng-repeat="estimation in postJobEstimated">{{estimation}}</span>
                    </div>
                    <label class="margin-bottom-0">Working time requirements:</label>
                    <div class="row margin-rl-0 margin-bottom-15 margin-top--3">
                        <span class="small-pill" ng-repeat="timereq in postJobTimeReq">{{timereq}}</span>
                    </div>
                    <label class="margin-bottom-0">Schedule:</label>
                    <div class="row margin-rl-0 margin-bottom-15 margin-top--3">
                        <span class="small-pill" ng-repeat="schedule in postJobSchedule">{{schedule}}</span>
                    </div>
                    <label class="margin-bottom-0">international VOlunteer options:</label>
                    <div class="row margin-rl-0 margin-bottom-15 margin-top--3">
                        <span class="small-pill" ng-repeat="ivo in postJobIVO">{{ivo}}</span>
                    </div>
                    <label class="margin-bottom-0">Language:</label>
                    <div class="row margin-rl-0 margin-bottom-15 margin-top--3">
                        <span class="small-pill" ng-repeat="language in postJobLanguage">{{language}}</span>
                    </div>
                    <label class="margin-bottom-0">Miscellaneous:</label>
                    <div class="row margin-rl-0 margin-bottom-15 margin-top--3">
                        <span class="small-pill" ng-repeat="miscellaneous in postJobMiscellaneous">{{miscellaneous}}</span>
                    </div>
             
                </div>
            </div>
        </div>
    </div>

    <footer ng-style="{'background-color': bottomBar, 'color': bottomBarText}">
        <div class="container1">
            <div class="row" ng-class="{'ishidden': hideHeaderFooter == 'true'}">
                <div class="col-lg-2">
                    <ul class="footer-link-list" style="padding-left:80px">
                        <li>
                            <a href="#" class="footer-text" ng-style="{'color': bottomBarText}">About Us </a>
                        </li>
                        <li><a href="#" class="footer-text"  ng-style="{'color': bottomBarText}">Blog </a></li>
                        <li><a href="#" class="footer-text"  ng-style="{'color': bottomBarText}">Feedback </a></li>
                    </ul>
                </div>
                <div class="col-lg-2">
                    <ul class="footer-link-list" style="padding-left:40px">
                        <li>
                            <a href="#" class="footer-text"  ng-style="{'color': bottomBarText}">Comunnity</a>
                        </li>
                        <li><a href="#" class="footer-text"  ng-style="{'color': bottomBarText}">Trust & Safety </a></li>
                        <li><a href="#" class="footer-text"  ng-style="{'color': bottomBarText}">Help & Support </a></li>
                    </ul>
                </div>
                <div class="col-lg-2">
                    <ul class="footer-link-list" style="padding-left:30px">
                        <li>
                            <a href="#" class="footer-text"  ng-style="{'color': bottomBarText}">Enterprise Solutions</a>
                        </li>
                        <li><a href="#" class="footer-text"  ng-style="{'color': bottomBarText}">Terms of Service</a></li>
                        <li><a href="#" class="footer-text"  ng-style="{'color': bottomBarText}">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="col-lg-2">
                    <ul class="footer-link-list" style="padding-left:30px">
                        <li>
                            <a href="#" class="footer-text"  ng-style="{'color': bottomBarText}">Tools</a>
                        </li>
                        <li><a href="#" class="footer-text"  ng-style="{'color': bottomBarText}">Client Resources</a></li>
                        <li><a href="#" class="footer-text"  ng-style="{'color': bottomBarText}">Help & Support</a></li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <div class="social-network-icon-wrap" style="padding-right:60px">
                        <a href="#" class="footer-select social-network-icons">
                            <span class="footer-circle footer-circle-linkedin pull-right">
                                <i class="fa fa-linkedin font-size-20 icon-attr1"> </i>
                            </span>
                        </a>
                        <a href="#" class="social-network-icons">
                            <span class="footer-circle footer-circle-facebook pull-right">
                                <i class="fa fa-facebook font-size-20 icon-attr1"> </i>
                            </span>
                        </a>
                        <a href="#" class="social-network-icons">
                            <span class="footer-circle footer-circle-twitter pull-right">
                                <i class="fa fa-twitter font-size-20 icon-attr1"> </i>
                            </span>
                        </a>
                        <a href="#" class="social-network-icons">
                            <span class="footer-circle footer-circle-google pull-right">
                                <i class="fa fa-google-plus font-size-20 icon-attr1"> </i>
                            </span>
                        </a>
                    </div>
                    <span class="footer-copyrights" id='footer-copyrights' style="padding-right:60px">
                        <span>&#169;&nbsp;Olympia Volunteer Corporation</span>
                    </span>
                </div>
            </div>
        </div>
    </footer>

     
    <script src="../../lib/jquery/dist/jquery.min.js"></script>
    <script src="../../lib/angular/angular.min.js"></script>
    <script src="../../lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="controller.js"></script>
</body>
</html>
