<!DOCTYPE html>
<html ng-app="landingController">
<head>
    <meta charset="utf-8">
    <title>OLYMPIA</title>
    
    <link href="../../img/olympia-fav.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="../../css/olympia-icons.css"/>
    <link rel="stylesheet" href="../../css/bootstrap-tagsinput/bootstrap-tagsinput.css"/>
    <link rel="stylesheet" href="../../lib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css"/>
    <link href="../../lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="../../css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/organization/postJob/postJob.css"/>
    <link href="../../css/global.css" rel="stylesheet">
    <link href="../../css/organization/viewApp/viewApp.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700&subset=latin,cyrillic-ext,greek-ext,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
    <link href="../../css/volunteer/recommendation/recommendation.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../../css/header/header.css">
    <style type="text/css">
        .containerA{
            width: 1008px;
            margin: 0 auto;
        }
    </style>
</head>

<body ng-controller="landingPage">
    <!-- Page Header Section Start-->
    <header>
        <div class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img src="../../img/logo.png"></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <!-- Volunteer Menu Start-->
                    <ul class="nav navbar-nav">
                        <li><a href="../searchJob/searchJob.html" class='menu-interval'>Search Jobs</a></li>
                        <li><a href="../jobApplication/jobApplication.html" class='menu-interval'>Job Applications</a></li>
                        <li class="active"><a href="#" class='menu-interval'>Recommendations</a></li>
                        <li><a href="../../message/message.html?owner=volunteer" class='menu-interval'>Messages</a></li>
                    </ul>
                    <!-- Volunteer Menu end here-->
                    <ul class="nav navbar-nav navbar-right">
                        <li class='pull-right'><a href="#" id="icons-header-right"><span class="fa fa-question"></a></li>
                        <li class='dropdown pull-right'>
                            <a href="#" class="dropdown-toggle" id="icons-header-right" data-toggle="dropdown"><i class='fa fa-cog'></i></a>
                            <ul class="dropdown-menu">
                                <li role="presentation"><a role="menuitem" href="../createProfileForm/createProfile.html"><img src="../../img/VV_Icon_Profile.png" width="25" height="25"> My Profile</a></li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation"><a role="menuitem" href="../../myAccount/myAccount.html?owner=volunteer">&nbsp;<i class='fa fa-wrench'></i> &nbsp;My Account</a></li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation"><a role="menuitem" href="../../changePassword/changePassword.html?owner=volunteer">&nbsp;<i class='glyphicon glyphicon-cog'></i> &nbsp;Change Password</a></li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation"><a role="menuitem" href="../../notificationSettings/notificationSettings.html?owner=volunteer">&nbsp;<i class='fa fa-bell'></i> &nbsp;Notification Settings</a></li>
                            </ul>
                        </li>
                        <li class='pull-right'><a href="#" id="icons-header-right"><span class="fa fa-exclamation"></a></li>
                        <li class="dropdown pull-right" style="margin-top:5px;" id="username" ng-init="client = true; organization = false">
                            <a href="#" class="dropdown-toggle"  id="hover-header-right" data-toggle="dropdown"  ng-if="organization == true">Organization &nbsp;<b class="caret"></b></a>
                            <a href="#" class="dropdown-toggle"  id="hover-header-right" data-toggle="dropdown" ng-if="client == true">Volunteer &nbsp;<b class="caret"></b></a>
                            <ul class="dropdown-menu header-right-dropdown" ng-init=" addActive1 = 'make-it-white'">
                                <li role="presentation" ng-cloak><a role="menuitem" ng-model="organization" ng-click="organization = true; client = false; addActive2 = 'make-it-white';addActive1=''" href="../../organization/search/searchVol.html" id="tab-header-1" ng-class="addActive2" ><img src="../../img/VV_Icon_OrganizationLogo.png" width="28" height="28">&nbsp;&nbsp;&nbsp;Organization</a></li>
                                <li role="presentation" class="divider" ng-cloak></li>
                                <li role="presentation" ng-cloak><a role="menuitem" ng-model="client" ng-click="organization = false; client = true; addActive1 = 'make-it-white';addActive2=''" href="../../volunteer/searchJob/searchJob.html" ng-class="addActive1"><img src="../../img/VV_Icon_Volunteers.png" width="28" height="28">&nbsp;&nbsp;&nbsp;Volunteer</a></li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation" id="separate-highlight"> 
                                    <span><a role="menuitem"  href="../../myAccount/myAccount.html?owner=volunteer" ng-if="client == true">sander_mrbrown</a></span>
                                    <span><a role="menuitem"  href="../../myAccount/myAccount.html?owner=volunteer" ng-if="organization == true">sander_mrbrown</a></span>
                                    <span><a role="menuitem"  href="../../login/login.html">Logout</a></span>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </div>
    </header>

    <div class="containerA">
        <div  class="row margin-rl-0">
            <div class="col-lg-12 margin-top-10 main-border1 padding-left-0 recommendation-wrapper">
                <h3>Recommendations</h3>
                <div class="tabs-recommendation">
                    <ul>
                        <li class="active"><a href="#">Received</a></li>
                        <li><a href="#">Given</a></li>
                        <li><a href="#">Ask for recommendations</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row margin-rl-0">
            <div class="col-lg-12 margin-top-10 main-border1 padding-left-0">
                <div class="recommendation-title">
                    <span>Manage recommendations you've received</span>
                    <p>(Looking for recommendations you've made? <a href="#">Click here</a>)</p>
                </div>
                <hr style="height:1px; background-color:#DDDDDD;">
                <div class="row margin-rl-0">
                    <div class="col-sm-11 padding-rl-0">
                        <div class="col-sm-1  font-size-4 ">
                            <span class="fa fa-thumbs-o-up"></span>                  
                        </div>
                        <div class="col-sm-6">
                            <label class="font-size-15">Product Manager at Thomas Cook</label>
                        </div>
                        <div class="col-sm-11">
                            <span>
                                You have <b>1 recommendation</b> for this position (0 visible, 1 hidden).
                            </span>
                            <div class="link-wrapper">
                                [ <a href="#">Manage</a> | <a href="#">Ask to be recommended</a> ]
                            </div>
                        </div>
                    </div>
                </div>
                <hr style="height:1px; background-color:#DDDDDD;">
                <div class="row margin-rl-0">
                    <div class="col-sm-11 padding-rl-0">
                        <div class="col-sm-1  font-size-4 ">
                            <span class="fa fa-thumbs-o-up grey-disable"></span>                  
                        </div>
                        <div class="col-sm-6">
                            <label class="font-size-15">New Business Manager at Thomas Cook</label>
                        </div>
                        <div class="col-sm-11">
                            <span>
                                You have <b>no recommendation</b> for this position.
                            </span>
                            <div class="link-wrapper">
                                [ <a href="#">Ask to be recommended</a> ]
                            </div>
                        </div>
                    </div>
                </div>
                <hr style="height:1px; background-color:#DDDDDD;">
                <div class="row margin-rl-0">
                    <div class="col-sm-11 padding-rl-0">
                        <div class="col-sm-1  font-size-4 ">
                            <span class="fa fa-thumbs-o-up"></span>                  
                        </div>
                        <div class="col-sm-6">
                            <label class="font-size-15">E-Commerce Manager at NH Hotels</label>
                        </div>
                        <div class="col-sm-11">
                            <span>
                                You have <b>1 recommendation</b> for this position (0 visible, 1 hidden).
                            </span>
                            <div class="link-wrapper">
                                [ <a href="#">Manage</a> | <a href="#">Ask to be recommended</a> ]
                            </div>
                        </div>
                    </div>
                </div>
                <hr style="height:1px; background-color:#DDDDDD;">
                <div class="row margin-rl-0">
                    <div class="col-sm-11 padding-rl-0">
                        <div class="col-sm-1  font-size-4 ">
                            <span class="fa fa-thumbs-o-up grey-disable"></span>                  
                        </div>
                        <div class="col-sm-6">
                            <label class="font-size-15">Revenue Manager at NH Hotels</label>
                        </div>
                        <div class="col-sm-11">
                            <span>
                                You have <b>no recommendation</b> for this position.
                            </span>
                            <div class="link-wrapper">
                                [ <a href="#">Ask to be recommended</a> ]
                            </div>
                        </div>
                    </div>
                </div>
                <hr style="height:1px; background-color:#DDDDDD;">
                <div class="row margin-rl-0">
                    <div class="col-sm-11 padding-rl-0">
                        <div class="col-sm-1  font-size-4 ">
                            <span class="fa fa-thumbs-o-up grey-disable"></span>                  
                        </div>
                        <div class="col-sm-6">
                            <label class="font-size-15">Revenue Manager at Van der Valk</label>
                        </div>
                        <div class="col-sm-11">
                            <span>
                                You have <b>no recommendation</b> for this position (0 visible, 1 hidden).
                            </span>
                            <div class="link-wrapper">
                                [ <a href="#">Ask to be recommended</a> ]
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <footer>
        <div class="container1">
            <div class="row">
                <div class="col-lg-2">
                    <ul class="footer-link-list" style="padding-left:80px">
                        <li>
                            <a href="#" class="footer-text">About Us </a>
                        </li>
                        <li><a href="#" class="footer-text">Blog </a></li>
                        <li><a href="#" class="footer-text">Feedback </a></li>
                    </ul>
                </div>
                <div class="col-lg-2">
                    <ul class="footer-link-list" style="padding-left:40px">
                        <li>
                            <a href="#" class="footer-text">Community</a>
                        </li>
                        <li><a href="#" class="footer-text">Trust & Safety </a></li>
                        <li><a href="#" class="footer-text">Help & Support </a></li>
                    </ul>
                </div>
                <div class="col-lg-2">
                    <ul class="footer-link-list" style="padding-left:30px">
                        <li>
                            <a href="#" class="footer-text">Enterprise Solutions</a>
                        </li>
                        <li><a href="#" class="footer-text">Terms of Service</a></li>
                        <li><a href="#" class="footer-text">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="col-lg-2">
                    <ul class="footer-link-list" style="padding-left:30px">
                        <li>
                            <a href="#" class="footer-text">Tools</a>
                        </li>
                        <li><a href="#" class="footer-text">Client Resources</a></li>
                        <li><a href="#" class="footer-text">Help & Support</a></li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <div class="social-network-icon-wrap" style="padding-right:60px">
                        <a href="#" class="footer-select social-network-icons">
                            <span class="footer-circle footer-circle-linkedin pull-right">
                                <i class="fa fa-linkedin font-size-20 icon-attr1"> </i>
                            </span>
                        </a>
                        <a href="#" class="social-network-icons">
                            <span class="footer-circle footer-circle-facebook pull-right">
                                <i class="fa fa-facebook font-size-20 icon-attr1"> </i>
                            </span>
                        </a>
                        <a href="#" class="social-network-icons">
                            <span class="footer-circle footer-circle-twitter pull-right">
                                <i class="fa fa-twitter font-size-20 icon-attr1"> </i>
                            </span>
                        </a>
                        <a href="#" class="social-network-icons">
                            <span class="footer-circle footer-circle-google pull-right">
                                <i class="fa fa-google-plus font-size-20 icon-attr1"> </i>
                            </span>
                        </a>
                    </div>
                    <span class="footer-copyrights" id='footer-copyrights' style="padding-right:60px">
                        <span>&#169;&nbsp;Olympia Volunteer Corporation</span>
                    </span>
                </div>
            </div>
        </div>
    </footer>

    
    <script src="../../lib/jquery/dist/jquery.min.js"></script>
    <script src="../../lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../lib/angular/angular.min.js"></script>
    <!-- date picker Scripts -->
    <script src="../../lib/moment/moment.js"></script>
    <script src="../../lib/moment/min/moment.min.js"></script>
    <script src="../../lib/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <!--tag inputs -->
    <script src="../../lib/bootstrap.taginput.js"></script>
    <script src="../../lib/bootstrap3-typeahead.js"></script>
    <script src="../../js/app.js"></script>
    <script src="../../organization/postJob/controller.js"></script>
    <script src="control.js"></script>
    <script src="controller.js"></script>
    <script src="../../lib/jasny-bootstrap/js/jasny-bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){
          $(".checkboxUpdated").on("click", ".checkboxPropagation" ,function(event){
              var destinedElement = $(this).children("span");
              //console.log(destinedElement[0].className);
              var className = destinedElement[0].className;
              //Informataion about tick
              tickConfirm=className.indexOf("tick");
              crossConfirm=className.indexOf("cross");
              if(tickConfirm==-1 && crossConfirm==-1){
                destinedElement.removeClass('cross');
                destinedElement.removeClass('blank');
                destinedElement.addClass('tick');      
              }
              if(tickConfirm>-1){
                destinedElement.removeClass('tick');
                destinedElement.addClass('cross');
                destinedElement.next().addClass('strikeThrough');  
              } 
              if(crossConfirm>-1){
                destinedElement.removeClass('cross');
                destinedElement.next().removeClass('strikeThrough');
                destinedElement.addClass('blank');       
              }
          });
        $(".buttonWrapper").on("click", ".jsBlank", function(e){
            $(".checkboxPropagation").children("span").removeClass("tick");
            $(".checkboxPropagation").children("span").removeClass("cross");
            $(".checkboxPropagation").children("span").next("label").removeClass("strikeThrough");
            $(".checkboxPropagation").children("span").addClass("blank");
        });
        $(".buttonWrapper").on("click", ".jsTick", function(e){
            $(".checkboxPropagation").children("span").removeClass("blank");
            $(".checkboxPropagation").children("span").removeClass("cross");
            $(".checkboxPropagation").children("span").next("label").removeClass("strikeThrough");
            $(".checkboxPropagation").children("span").addClass("tick");
        });
        $(".buttonWrapper").on("click", ".jsStrikeThrough", function(e){
            $(".checkboxPropagation").children("span").removeClass("blank");
            $(".checkboxPropagation").children("span").removeClass("tick");
            $(".checkboxPropagation").children("span").addClass("cross");
            $(".checkboxPropagation").children("span").next("label").addClass("strikeThrough");
        });
    });
    </script>
</body>
</html>
