<!DOCTYPE html>
<html ng-app="landingController">
<head>
    <title>Landing page</title>
    <link href="../img/olympia-fav.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="../lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../css/font-awesome.css" rel="stylesheet" />
    <link href="../css/global.css" rel="stylesheet" />
    <!-- fornt for heading -->
    
    <!-- font for main content -->
    <link href="//fonts.googleapis.com/css?family=PT+Sans:400italic,400,700italic,700" />
    <link href="../css/organization/postJob/postjob.css" rel="stylesheet" />
    <link href="../css/organization/viewApp/viewApp.css" rel="stylesheet" />
    <link href="../css/global.css" rel="stylesheet" />
    <link href="../css/landing/landing.css" rel="stylesheet" />
    <style type="text/css">
        .superContainer{
            width: 1349px;
            margin: 0 auto;
        }
        .containerA{
            width: 1008px;
            display: inline-block;
        }
        .containerB{
            width: 164px;
            display: inline-block;
            vertical-align: top;
        }
    </style>
</head>
<body ng-controller="landingPage">
    <!-- Page Header Section Start-->
     <header>
        <div class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img src="../img/logo.png"></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <!-- Volunteer Menu Start-->
                    <ul class="nav navbar-nav" ng-if="typeOfOwner == 'volunteer'">
                        <li><a href="../Volunteer/searchJob/searchJob.html" class='menu-interval'>Search Job</a></li>
                        <li><a href="../Volunteer/jobApplication/jobApplication.html" class='menu-interval'>Job Applications</a></li>
                        <li><a href="../volunteer/recommendation/recommendation.html" class='menu-interval'>Recommendations</a></li>
                        <li><a href="../message/message.html?owner=volunteer" class='menu-interval'>Messages</a></li>
                    </ul>
                    <!-- Volunteer Menu end here-->
                    <!--organization menu start-->
                    <ul class="nav navbar-nav" ng-if="typeOfOwner == 'organization'">
                        <li ><a href="../organization/search/searchVol.html" class='menu-interval'>Search Volunteer</a></li>
                        <li><a href="../organization/postJob/postJob.html"  class='menu-interval'>Post a Job</a></li>
                        <li><a href="../organization/jobPost/jobPost.html" class='menu-interval'>Job Postings</a></li>
                        <li><a href="../message/message.html?owner=organization" class='menu-interval'>Messages</a></li>
                      </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class='pull-right'><a href="#" id="icons-header-right"><span class="fa fa-question"></a></li>
                        <li class='dropdown pull-right'>
                            <a href="#" class="dropdown-toggle" id="icons-header-right" data-toggle="dropdown"><i class='fa fa-cog'></i></a>
                            <ul class="dropdown-menu">
                                <li role="presentation">
                                    <a role="menuitem" href="../volunteer/createProfileForm/createProfile.html" ng-if="typeOfOwner == 'volunteer'"><img src="../img/VV_Icon_Profile.png" width="25" height="25"> My Profile</a>
                                    <a role="menuitem" href="../organization/organizationProfile/organizationProfile.html" ng-if="typeOfOwner == 'organization'"><img src="../img/VV_Icon_OrganizationLogo.png" width="25" height="25"> My Profile</a>
                                </li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation">
                                    <a role="menuitem" href="../myAccount/myAccount.html?owner=organization" ng-if="typeOfOwner == 'organization'">&nbsp;<i class='fa fa-wrench'></i> &nbsp;My Account</a>
                                    <a role="menuitem" href="../myAccount/myAccount.html?owner=volunteer" ng-if="typeOfOwner == 'volunteer'"><i class='fa fa-wrench'></i> My Account</a>
                                </li>
                                <li role="presentation" class="divider" ng-if="typeOfOwner == 'organization'"></li>
                                <li role="presentation" ng-if="typeOfOwner == 'organization'"><a role="menuitem" href="../organization/staffAndPermission/staffAndPermission.html?owner=organization">&nbsp;<i class='fa fa-lock'></i> &nbsp;Manage Staff Permissions</a></li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation">
                                    <a role="menuitem" href="../changePassword/changePassword.html?owner=organization" ng-if="typeOfOwner == 'organization'">&nbsp;<i class='glyphicon glyphicon-cog'></i> &nbsp;Change Password</a>
                                    <a role="menuitem" href="../changePassword/changePassword.html?owner=volunteer" ng-if="typeOfOwner == 'volunteer'"><i class='glyphicon glyphicon-cog'></i> Change Password</a>
                                </li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation">
                                    <a role="menuitem" ng-if="typeOfOwner == 'organization'" href="../notificationSettings/notificationSettings.html?owner=organization">&nbsp;<i class='fa fa-bell'></i> &nbsp;Notification Settings</a>
                                    <a role="menuitem" ng-if="typeOfOwner == 'volunteer'" href="../notificationSettings/notificationSettings.html?owner=volunteer">&nbsp;<i class='fa fa-bell'></i> &nbsp;Notification Settings</a>
                                </li>
                                <li role="presentation" class="divider" ng-if="typeOfOwner == 'volunteer'"></li>
                                <li role="presentation" ng-if="typeOfOwner == 'volunteer'">
                                    <a role="menuitem" href="../volunteer/createOrganization/createOrganization.html?owner=volunteer">&nbsp;<i class='fa fa-list-alt'></i> &nbsp;Create an Organization</a>
                                </li>
                                <li role="presentation" class="divider" ng-if="typeOfOwner == 'organization'"></li>
                                <li role="presentation" ng-if="typeOfOwner == 'organization'">
                                    <a role="menuitem" href="#">&nbsp;<i class='fa fa-list-alt'></i> &nbsp;Integration Settings
                                    </a>
                                </li>
                                <li role="presentation" class="divider" ng-if="typeOfOwner == 'organization'"></li>
                                <li role="presentation" ng-if="typeOfOwner == 'organization'">
                                    <a role="menuitem" href="../organization/socialMedia/socialMedia.html?owner=organization">&nbsp;<i class='fa fa-share-alt'></i> &nbsp;Publish to Social Media
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class='pull-right'><a href="#" id="icons-header-right"><span class="fa fa-exclamation"></a></li>
                        <li class="dropdown pull-right" style="margin-top:5px;" id="username">
                            <a href="#" class="dropdown-toggle"  id="hover-header-right" data-toggle="dropdown"  ng-if="typeOfOwner == 'organization'">Organization &nbsp;<b class="caret"></b></a>
                            <a href="#" class="dropdown-toggle"  id="hover-header-right" data-toggle="dropdown" ng-if="typeOfOwner == 'volunteer'">Volunteer &nbsp;<b class="caret"></b></a>
                            <ul class="dropdown-menu header-right-dropdown" ng-init=" addActive2 = 'make-it-white'">
                                <li role="presentation" >
                                    <a role="menuitem" ng-if="typeOfOwner == 'organization'" href="../organization/search/searchVol.html" id="tab-header-1" ng-class="{'make-it-white':typeOfOwner == 'organization'}"><img src="../img/VV_Icon_Volunteers.png" wdth="28" height="28">&nbsp;&nbsp;&nbsp;Organization</a>
                                    <a role="menuitem" ng-if="typeOfOwner == 'volunteer'" href="../organization/search/searchVol.html" id="tab-header-1" ng-class="{'make-it-white':typeOfOwner == 'organization'}"><img src="../img/VV_Icon_OrganizationLogo.png" wdth="28" height="28">&nbsp;&nbsp;&nbsp;Organization</a>
                                </li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation" >
                                    <a role="menuitem" ng-if="typeOfOwner == 'organization'" href="../volunteer/searchJob/searchJob.html"  ng-class="{'make-it-white':typeOfOwner == 'volunteer'}"><img src="../img/VV_Icon_Profile.png" height="28" width="28">&nbsp;&nbsp;&nbsp;Volunteer</a>
                                    <a role="menuitem" ng-if="typeOfOwner == 'volunteer'" href="../volunteer/searchJob/searchJob.html"  ng-class="{'make-it-white':typeOfOwner == 'volunteer'}"><img src="../img/VV_Icon_VolunteerOpportunities.png" height="28" width="28">&nbsp;&nbsp;&nbsp;Volunteer</a>
                                </li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation" id="separate-highlight"> 
                                    <span><a role="menuitem" href="../myAccount/myAccount.html?owner=volunteer" ng-if="typeOfOwner == 'volunteer'">hans.klevenbeek</a></span>
                                    <span><a role="menuitem" href="../myAccount/myAccount.html?owner=organization" ng-if="typeOfOwner == 'organization'">hans.klevenbeek</a></span>
                                    <span><a role="menuitem"  href="../login/login.html">Logout</a></span>
                                </li>

                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </div>
    </header>

    <!-- Page Header Section End-->
    <div class="superContainer">
        <div class="containerB">
            <span class="prototype-scheme">PROTOTYPE</span>
        </div>
        <div class="containerA" ng-if="volunteerMenu">
            <div class="main-border1">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="profile-heading">Create your profile</h2>
                        <p>
                            A great profile is your key to getting hired. Highlights your strengths with an accurate description of your skills, work history, and education.
                            Our staff will review for quality, so take time to fill your profile out completely and professional.
                            <span><a href="#">Learn more about profiles</a></span>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 center-block">
                        <div class="form-group complete-profile">
                            <button onclick="window.location.href='../volunteer/CreateProfileForm/createProfile.html'" class="btn btn-primary active btn-site">Complete volunteer Profile</button>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-lg-12">
                        <p class="add-text">Looking for inspiration? Check out these successful volunteer profiles:</p>
                    </div>
                </div>
                <div class="row" style="margin-left:0px;">
                    <div style="padding-left:0px;display: inline-block" ng-repeat="profile in profileModel" ng-mouseenter="makeItBlue='rectangle-blue'; makeBlue='color-Blue'" ng-mouseleave="makeItBlue=''; makeBlue='';">
                        <a href="../volunteer/volunteerProfile/volunteerProfile.html?name={{profile.name}}&city=Amsterdam,%20Noord%20Holland&image=../{{profile.imgLink}}">
                            <div class="main-border" ng-class="makeItBlue">
                                <img src="{{profile.imgLink}}" width="40" height="40">
                                <div class="inline-block valign-top">
                                <label ng-bind="profile.name" style="vertical-align:text-bottom" ng-class="makeBlue"></label>
                                <p ng-bind="profile.skill"></p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="containerA" ng-if="OrganizationMenu">
            <div class="main-border1">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="profile-heading">Submitted organization creation request !</h2>
                        <p>
                            Thank you for creating this organization, you will receive a message shortly. You are now able to edit your organizations profile, invite other members to become organization members, post jobs or create projects.
                        </p>
                        <p>In the meanwhile our staff will review your organization request. We will respond within 48 hours. From that moment your organization page and activities will become public.
                            <span><a href="#">Learn more about profiles</a></span>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 center-block">
                        <div class="form-group complete-profile">
                            <button onclick="window.location.href='../organization/organizationProfile/organizationProfile.html'" class="btn btn-primary active btn-site">Complete organization profile</button>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-lg-12">
                        <p class="add-text">Looking for inspiration? Check out these successful organization profiles:</p>
                    </div>
                </div>
                <div class="row" style="margin-left:0px;">
                    <div style="padding-left:0px;display: inline-block" ng-repeat="profile in profileModelOrganization" ng-mouseenter="makeItBlue='rectangle-blue'; makeBlue='color-Blue'" ng-mouseleave="makeItBlue=''; makeBlue='';">
                        <a href="../organization/organizationpcms/organizationpcms.html?organizationName={{profile.name}}">
                            <div class="main-border" ng-class="makeItBlue">
                                <img src="../img/VV_Icon_OrganizationLogo.png" width="40" height="40">
                                <div class="inline-block valign-top">
                                <label ng-bind="profile.name" style="vertical-align:text-bottom" ng-class="makeBlue"></label>
                                <p ng-bind="profile.type"></p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="containerB">
            <span class="prototype-scheme">PROTOTYPE</span>
        </div>
    </div>

    <footer>
        <div class="container1">
            <div class="row">
                <div class="col-lg-2">
                    <ul class="footer-link-list" style="padding-left:80px">
                        <li>
                            <a href="#" class="footer-text">About Us </a>
                        </li>
                        <li><a href="#" class="footer-text">Blog </a></li>
                        <li><a href="#" class="footer-text">Feedback </a></li>
                    </ul>
                </div>
                <div class="col-lg-2">
                    <ul class="footer-link-list" style="padding-left:40px">
                        <li>
                            <a href="#" class="footer-text">Comunnity</a>
                        </li>
                        <li><a href="#" class="footer-text">Trust & Safety </a></li>
                        <li><a href="#" class="footer-text">Help & Support </a></li>
                    </ul>
                </div>
                <div class="col-lg-2">
                    <ul class="footer-link-list" style="padding-left:30px">
                        <li>
                            <a href="#" class="footer-text">Enterprise Solutions</a>
                        </li>
                        <li><a href="#" class="footer-text">Terms of Service</a></li>
                        <li><a href="#" class="footer-text">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="col-lg-2">
                    <ul class="footer-link-list" style="padding-left:30px">
                        <li>
                            <a href="#" class="footer-text">Tools</a>
                        </li>
                        <li><a href="#" class="footer-text">Client Resources</a></li>
                        <li><a href="#" class="footer-text">Help & Support</a></li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <div class="social-network-icon-wrap" style="padding-right:60px">
                        <a href="#" class="footer-select social-network-icons">
                            <span class="footer-circle footer-circle-linkedin pull-right">
                                <i class="fa fa-linkedin font-size-20 icon-attr1"> </i>
                            </span>
                        </a>
                        <a href="#" class="social-network-icons">
                            <span class="footer-circle footer-circle-facebook pull-right">
                                <i class="fa fa-facebook font-size-20 icon-attr1"> </i>
                            </span>
                        </a>
                        <a href="#" class="social-network-icons">
                            <span class="footer-circle footer-circle-twitter pull-right">
                                <i class="fa fa-twitter font-size-20 icon-attr1"> </i>
                            </span>
                        </a>
                        <a href="#" class="social-network-icons">
                            <span class="footer-circle footer-circle-google pull-right">
                                <i class="fa fa-google-plus font-size-20 icon-attr1"> </i>
                            </span>
                        </a>
                    </div>
                    <span class="footer-copyrights" id='footer-copyrights' style="padding-right:60px">
                        <span>&#169;&nbsp;Volunteer Corporation</span>
                    </span>
                </div>
            </div>
        </div>
    </footer>
    <script src="../lib/jquery/dist/jquery.min.js"></script>
    <script src="../lib/angular/angular.min.js"></script>
    <script src="../lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="landingController.js"></script>
</body>
</html>
