<!DOCTYPE html>
<html ng-app="OrgVolApp">
<head>
    <title>Landing page</title>
    <link href="../img/olympia-fav.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="../lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../css/font-awesome.css" rel="stylesheet" />
    <link href="//fonts.googleapis.com/css?family=PT+Sans:400italic,400,700italic,700" />
    <link href="../css/organization/postJob/postjob.css" rel="stylesheet" />
    <link href="../css/organization/viewApp/viewApp.css" rel="stylesheet" />
    <link href="../css/global.css" rel="stylesheet" />
    <link href="../css/landing/landing.css" rel="stylesheet" />
    <style type="text/css">
        .superContainer{
            width: 1349px;
            margin: 0 auto;
            margin-top: 20px;
        }
        .containerA{
            width: 1008px;
            display: inline-block;
        }
        .containerB{
            width: 164px;
            display: inline-block;
            vertical-align: top;
        }
    </style>
</head>
<body ng-controller="landingPage">
    <!-- Page Header Section Start-->
    <div ng-include="'../../templates/header.tmpl.html'"></div>
    <!-- Page Header Section End-->
    <div class="superContainer">
        <div class="containerB">
            <span class="prototype-scheme">PROTOTYPE</span>
        </div>
        <!-- for volunteer individual -->
        <div class="containerA" ng-if="typeOfOwner == 'volunteer'">
            <div class="main-border1">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="profile-heading">Thank you for signing up !</h2>
                        <p>
                            A great profile is your key to getting hired. Highlights your strengths with an accurate description of your skills, work history, and education. Our staff will review for quality, so take time to fill your profile out completely and professional.
                            <span><a href="#">Learn more about profiles</a></span>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 center-block">
                        <div class="form-group complete-profile">
                            <button ng-click="gotoCreateProfileVol()" class="btn btn-primary active btn-site">Complete volunteer Profile</button>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-lg-12">
                        <p class="add-text">Looking for inspiration? Check out these successful volunteer profiles:</p>
                    </div>
                </div>
                <div class="row" style="margin-left:0px;">
                    <div style="padding-left:0px;display: inline-block" ng-repeat="profile in profileModel" ng-mouseenter="makeItBlue='rectangle-blue'; makeBlue='color-Blue'" ng-mouseleave="makeItBlue=''; makeBlue='';">
                        <a href="../volunteer/volunteerProfile/volunteerProfile.html?name={{profile.name}}&city=Amsterdam,%20Noord%20Holland&image=../{{profile.imgLink}}&owner={{$root.owner}}">
                            <div class="main-border" ng-class="makeItBlue">
                                <img src="{{profile.imgLink}}" width="40" height="40">
                                <div class="inline-block valign-top">
                                <label ng-bind="profile.name" style="vertical-align:text-bottom" ng-class="makeBlue"></label>
                                <p ng-bind="profile.skill"></p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- for Seeking help individual -->
        <div class="containerA" ng-if="typeOfOwner == 'seekingHelp'">
            <div class="main-border1"  style="min-height:400px">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="profile-heading">Thank you for signing up !</h2>
                        <p>
                            As a next step please post a job.
                            <span><a href="#">Learn more about profiles</a></span>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 center-block">
                        <div class="form-group complete-profile">
                            <button ng-click="gotoPostJob()" class="btn btn-primary active btn-site">Post a Job</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- for volunteer join an Organization -->
        <div class="containerA" ng-if="typeOfOwner == 'joinOrganization'">
            <div class="main-border1"  style="min-height:400px">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="profile-heading">Thank you for signing up !</h2>
                        <p>
                            Please search for desired organization and send the joining request. We will notify the organization admin to review your requests and respond back.
                            
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 center-block">
                        <div class="form-group complete-profile">
                            <button ng-click="gotosearchOrg()" class="btn btn-primary active btn-site">Search Organization</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- for volunteer group -->
        <div class="containerA" ng-if="typeOfOwner == 'volunteerGroup'">
            <div class="main-border1">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="profile-heading">Thank you for signing up !</h2>
                        <p>
                            Thank you for creating this organization, you will receive a message shortly. You are now able to edit your organizations profile, invite other members to become organization members, post jobs or create projects.
                        </p>
                        <p>In the meanwhile our staff will review your organization request. We will respond within 48 hours. From that moment your organization page and activities will become public.
                            <span><a href="#">Learn more about profiles</a></span>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 center-block">
                        <div class="form-group complete-profile col-sm-6">
                            <button ng-click="goToOrganization()" class="btn btn-primary active btn-site">Complete organization profile</button>
                        </div>
                        <div class="form-group complete-profile col-sm-1">
                        </div>
                        <div class="form-group complete-profile col-sm-5">
                            <button ng-click="goToStaffing()" class="btn btn-primary active btn-site">Invite Team</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 center-block">
                        
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-lg-12">
                        <p class="add-text">Looking for inspiration? Check out these successful organization profiles:</p>
                    </div>
                </div>
                <div class="row" style="margin-left:0px;">
                    <div style="padding-left:0px;display: inline-block" ng-repeat="profile in profileModelOrganization" ng-mouseenter="makeItBlue='rectangle-blue'; makeBlue='color-Blue'" ng-mouseleave="makeItBlue=''; makeBlue='';">
                        <a href="../organization/organizationpcms/organizationpcms.html?organizationName={{profile.name}}&owner={{$root.owner}}">
                            <div class="main-border" ng-class="makeItBlue">
                                <img src="../img/VV_Icon_OrganizationLogo.png" width="40" height="40">
                                <div class="inline-block valign-top">
                                <label ng-bind="profile.name" style="vertical-align:text-bottom" ng-class="makeBlue"></label>
                                <p ng-bind="profile.type"></p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="containerA" ng-if="typeOfOwner == 'organization'">
            <div class="main-border1">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="profile-heading">Thank you for signing up !</h2>
                        <p>
                            Thank you for creating this organization, you will receive a message shortly. You are now able to edit your organizations profile, invite other members to become organization members, post jobs or create projects.
                        </p>
                        <p>In the meanwhile our staff will review your organization request. We will respond within 48 hours. From that moment your organization page and activities will become public.
                            <span><a href="#">Learn more about profiles</a></span>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 center-block">
                        <div class="form-group complete-profile col-sm-6">
                            <button ng-click="goToOrganization()" class="btn btn-primary active btn-site">Complete organization profile</button>
                        </div>
                        <div class="form-group complete-profile col-sm-1">
                        </div>
                        <div class="form-group complete-profile col-sm-5">
                            <button ng-click="goToStaffing()" class="btn btn-primary active btn-site">Invite Team</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 center-block">
                        
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-lg-12">
                        <p class="add-text">Looking for inspiration? Check out these successful organization profiles:</p>
                    </div>
                </div>
                <div class="row" style="margin-left:0px;">
                    <div style="padding-left:0px;display: inline-block" ng-repeat="profile in profileModelOrganization" ng-mouseenter="makeItBlue='rectangle-blue'; makeBlue='color-Blue'" ng-mouseleave="makeItBlue=''; makeBlue='';">
                        <a href="../organization/organizationpcms/organizationpcms.html?organizationName={{profile.name}}&owner={{$root.owner}}">
                            <div class="main-border" ng-class="makeItBlue">
                                <img src="../img/VV_Icon_OrganizationLogo.png" width="40" height="40">
                                <div class="inline-block valign-top">
                                <label ng-bind="profile.name" style="vertical-align:text-bottom" ng-class="makeBlue"></label>
                                <p ng-bind="profile.type"></p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="containerB">
            <span class="prototype-scheme">PROTOTYPE</span>
        </div>
    </div>

    <footer>
        <div class="container1">
            <div class="row">
                <div class="col-lg-2">
                    <ul class="footer-link-list" style="padding-left:80px">
                        <li>
                            <a href="#" class="footer-text">About Us </a>
                        </li>
                        <li><a href="#" class="footer-text">Blog </a></li>
                        <li><a href="#" class="footer-text">Feedback </a></li>
                    </ul>
                </div>
                <div class="col-lg-2">
                    <ul class="footer-link-list" style="padding-left:40px">
                        <li>
                            <a href="#" class="footer-text">Comunnity</a>
                        </li>
                        <li><a href="#" class="footer-text">Trust & Safety </a></li>
                        <li><a href="#" class="footer-text">Help & Support </a></li>
                    </ul>
                </div>
                <div class="col-lg-2">
                    <ul class="footer-link-list" style="padding-left:30px">
                        <li>
                            <a href="#" class="footer-text">Enterprise Solutions</a>
                        </li>
                        <li><a href="#" class="footer-text">Terms of Service</a></li>
                        <li><a href="#" class="footer-text">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="col-lg-2">
                    <ul class="footer-link-list" style="padding-left:30px">
                        <li>
                            <a href="#" class="footer-text">Tools</a>
                        </li>
                        <li><a href="#" class="footer-text">Client Resources</a></li>
                        <li><a href="#" class="footer-text">Help & Support</a></li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <div class="social-network-icon-wrap" style="padding-right:60px">
                        <a href="#" class="footer-select social-network-icons">
                            <span class="footer-circle footer-circle-linkedin pull-right">
                                <i class="fa fa-linkedin font-size-20 icon-attr1"> </i>
                            </span>
                        </a>
                        <a href="#" class="social-network-icons">
                            <span class="footer-circle footer-circle-facebook pull-right">
                                <i class="fa fa-facebook font-size-20 icon-attr1"> </i>
                            </span>
                        </a>
                        <a href="#" class="social-network-icons">
                            <span class="footer-circle footer-circle-twitter pull-right">
                                <i class="fa fa-twitter font-size-20 icon-attr1"> </i>
                            </span>
                        </a>
                        <a href="#" class="social-network-icons">
                            <span class="footer-circle footer-circle-google pull-right">
                                <i class="fa fa-google-plus font-size-20 icon-attr1"> </i>
                            </span>
                        </a>
                    </div>
                    <span class="footer-copyrights" id='footer-copyrights' style="padding-right:60px">
                        <span>&#169;&nbsp;Volunteer Corporation</span>
                    </span>
                </div>
            </div>
        </div>
    </footer>
    <script src="/.tmp/scripts/bower.js"></script>
    <script src="/.tmp/scripts/core.js"></script>
    <script src="landingController.js"></script>
</body>
</html>
