<!DOCTYPE html>
<html ng-app="OrgVolApp">
<head>
    <meta charset="utf-8">
    <title>Volunteer profile</title>
    
    <link href="../../img/olympia-fav.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="../../lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="../../css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/organization/postJob/postJob.css"/>
    <link href="../../css/global.css" rel="stylesheet">
    <link href="../../css/organization/viewApp/viewApp.css" rel="stylesheet">
    
    <link href="../../css/volunteer/jobDetails/jobDetails.css" rel="stylesheet">
    <link href="../../css/slider/slider.css" rel="stylesheet" />
    <link href="../../css/volunteer/volunteerProfile/volunteerProfile.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../css/header/header.css">
    <style type="text/css">
        .superContainer{
            width: 1349px;
            margin: 0 auto;
        }
        .containerA{
            width: 1008px;
            display: inline-block;
        }
        .containerB{
            width: 164px;
            display: inline-block;
            vertical-align: top;
        }
    </style>

</head>

<body ng-controller="jobDetails">
    <!-- Page Header Section Start-->
    <div ng-include="'../../templates/header.tmpl.html'"></div>
    <!-- Page Header Section End-->
    <div class="superContainer">
        <div class="containerB">
            <span class="prototype-scheme">PROTOTYPE</span>
        </div>
        <div class="containerA">
            <div class="row margin-rl-0">
                <div class="main-border1 background-white col-sm-8">
                    <img src="{{volunteerImage}}"  width="70" height="73" class="margin-top-15" ng-if="volunteerImage">
                    <img src="../../img/name3.png"  width="70" height="73" class="margin-top-15" ng-if="!volunteerImage">
                    <div class="inline-block  margin-top-15 valign-top">
                        <span id='heading-form' class="inline-block padding-left-5 bold line-height-23" ng-if="volunteerName" ng-bind="volunteerName"></span>
                        <span id='heading-form' class="inline-block padding-left-5 bold line-height-23" ng-if="!volunteerName" >Hans Klevenbeek</span>
                        <br>
                        <span class="padding-left-5 margin-top-10" ng-bind="volunteerCity" ng-if="volunteerCity"></span>
                        <span class="padding-left-5 margin-top-10" ng-if="!volunteerCity">Amsterdam, Noord Holland</span>
                    </div>
                    <span class="pull-right margin-top-15"><a href="/volunteer/createProfileForm/createProfile.html?owner={{$root.owner}}"><i class="fa fa-pencil font-size-1-3 padding-right-5"></i>Edit Profile</a></span>
                    <div class=" padding-rl-0 margin-top-10 margin-bottom-10">
                        <div class="row margin-rl-0 margin-top-15">
                            <span class="small-pill" ng-class="{'margin-left-10':$index != 0}" ng-repeat="volunteerSkill in volunteerSkills" ng-bind="volunteerSkill"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 padding-right-0">
                    <div class="margin-bottom-10">
                        <button class="btn btn-primary active apply-button" type="button" ng-click="contactVolunteer()">Contact Volunteer</button>
                    </div>
                    <div class="main-border1 background-white">
                        <div class="row margin-rl-0">
                            <div class="col-sm-4 padding-rl-0">
                                <h5 class="bold">Follow me on:</h5>
                            </div>
                            <div class="col-sm-8">
                                <div class="social-network-icon-wrap" style="padding-right:28px">
                                    <a href="#" class="social-network-icons">
                                        <span class="footer-circle footer-circle-twitter pull-right">
                                            <i class="fa fa-twitter font-size-20 icon-attr1"> </i>
                                        </span>
                                    </a>
                                    <a href="#" class="footer-select social-network-icons">
                                        <span class="footer-circle footer-circle-linkedin pull-right">
                                            <i class="fa fa-linkedin font-size-20 icon-attr1"> </i>
                                        </span>
                                    </a>
                                    <a href="#" class="social-network-icons">
                                        <span class="footer-circle footer-circle-facebook pull-right">
                                            <i class="fa fa-facebook font-size-20 icon-attr1"> </i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row margin-rl-0 margin-top--3">
                            <div class="col-sm-4 padding-rl-0">
                                <label>Birthday:</label>
                            </div>
                            <div class="col-sm-8">
                                <span>July 23</span>
                            </div>
                        </div>
                        <div class="col-sm-12 padding-rl-0">
                            <label>Phone number:</label>
                            <span>&nbsp;&nbsp;&nbsp;+44-9765456711</span>
                        </div>
                        <div class="row margin-bottom-0">
                            &nbsp;
                        </div>
                    </div>
                </div>

            </div>
                
            <div class="row margin-rl-0">
                <div class="col-sm-8 padding-rl-0">
                    <div class="main-border1 background-white" ng-init="showMoreLess = false">
                        <h4 class="margin-top-0 bold">About Volunteer</h4>
                        <p>I am four-year student in Biology working towards a Master's degree. I have fundamental basis in Ecology, Plant physiology and development and i have ever done several research projects in laboratories working on Evolutionary Biology.</p>
                        <p>I am really interested in environment protection and wild life conservation. I have also a French Activity leader Certificate and I am a coordinator in summer camps. I really like to spend time with children.
                            <span ng-click="showMoreLess = !showMoreLess" ng-show="showMoreLess == false"><a href="">more</a></span>
                        </p>
                        
                        <p ng-show="showMoreLess == true">I have a good command of English. I'm an eco-friendly person conerned about the environmental issues. I'm a loving caring person. I'm serious about evrything. I'm looking for an oppurtunity to help othersin a different way and experience a colourful life.
                            <span ng-click="showMoreLess = !showMoreLess" ng-show="showMoreLess == true"><a href="">less</a></span>
                        </p>
                    </div>
                    <div class="main-border1 background-white">
                        <h4 class="margin-top-0 bold">Employment/Volunteering job history</h4>
                        
                        <div ng-repeat="job in listOfJobs track by $index">
                            <div class='padding-rl-0 margin-bottom-5'>
                                <span><a href="" ng-bind="job.name"></a></span>
                            </div>
                            <p class="margin-bottom-1"><label class="margin-bottom-0">Organization - </label>&nbsp;<span ng-bind="job.organization"></span></p>
                            <p class="margin-bottom-1"><label class="margin-bottom-0">From - </label>&nbsp;<span ng-bind="job.startDate"></span>&nbsp;&nbsp;<label class="margin-bottom-0">To - </label>&nbsp;<span ng-bind="job.endDate"></span></p>
                            <p class="margin-bottom-1"><label class="margin-bottom-0">Description - </label>&nbsp;<span ng-bind="job.description"></span></p>
                            <div class="image-scroller" ng-if="$index==0">
                                <div class="icon-left">
                                    <i class="fa fa-angle-left" id="left"></i>
                                </div>
                                <div id="slides">
                                    <img src="../../img/scrolling1.jpg" width="200" height="140" alt="smile" id="image0"/>
                                    <img src="../../img/scrolling2.jpg" width="200" height="140" alt="smile" id="image1"/>
                                    <img src="../../img/scrolling3.png" width="200" height="140" alt="smile" id="image2"/> 
                                    <img src="../../img/scrolling1.jpg" width="200" height="140" alt="smile" id="image3"/> 
                                    <img src="../../img/scrolling2.jpg" width="200" height="140" alt="smile" id="image4"/> 
                                </div>
                                <div class="icon-right">
                                    <i class="fa fa-angle-right" id="right"></i>
                                </div>
                            </div>
                            <div class="row margin-top-10 margin-bottom-10" ng-if="$index !== lengthOfJobs-1">
                                <div class="col-sm-12 padding-right-5">
                                    <div class="hr1"></div>
                                </div>  
                            </div>
                        </div>
                    </div>
                    <div class="main-border1 background-white">

                        <h4 class="margin-top-0 bold">Schools</h4>
                        
                        <div ng-repeat="school in listOfSchools track by $index">
                            <div class='padding-rl-0 margin-bottom-5'>
                                <span class="margin-right-15"><a href="" ng-bind="school.name"></a></span>
                            </div>
                            <p class="margin-bottom-1"><label class="margin-bottom-0">Degree - </label>&nbsp;<span ng-bind="school.degree"></span></p>
                            <p class="margin-bottom-1"><label class="margin-bottom-0">Area Of Study - </label>&nbsp;<span ng-bind="school.areaOfStudy"></span></p>
                            <p class="margin-bottom-1"><label class="margin-bottom-0">From - </label>&nbsp;<span ng-bind="school.startDate"></span>&nbsp;&nbsp;<label class="margin-bottom-0">To - </label>&nbsp;<span ng-bind="school.endDate"></span></p>
                            <div class="row margin-top-10 margin-bottom-10" ng-if="$index !== lengthOfSchools-1">
                                <div class="col-sm-12 padding-right-5">
                                    <div class="hr1"></div>
                                </div>  
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 padding-right-0">
                    <div class="main-border1 background-white">
                        <h4 class="margin-top-0 bold">Associated with</h4>
                        <div class="row margin-rl-0 margin-bottom-15 margin-top--3">
                            <img src="../../img/redCross.jpg" width="60" height="50" ><a href="/organization/organizationpcms/organizationpcms.html?organizationName=Red Cross NL&owner={{$root.owner}}" class="padding-left-15">Red Cross</a>
                        </div>
                        <div class="row margin-rl-0 margin-bottom-15 margin-top--3">
                            <img src="../../img/GCI.jpg" width="60" height="50" ><a href="/organization/organizationpcms/organizationpcms.html?organizationName=Global Conscience Initiative&owner={{$root.owner}}" class="padding-left-15">Global Conscience Initiative</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 padding-right-0">
                    <div class="main-border1 background-white">
                        <label class="margin-bottom-0">Volunteer work interests:</label>
                        <div class="row margin-rl-0 margin-bottom-15 margin-top--3">
                            <span class="small-pill" ng-repeat="volWork in contactVolWork" ng-bind="volWork"></span>
                        </div>
                        <label class="margin-bottom-0">Diploma/Certificates:</label>
                        <div class="row margin-rl-0 margin-bottom-15 margin-top--3">
                            <span class="small-pill" ng-repeat="diploma in contactVolDiploma" ng-bind="diploma"></span>
                        </div>
                        <label class="margin-bottom-0">Working time preferences:</label>
                        <div class="row margin-rl-0 margin-bottom-15 margin-top--3">
                            <span class="small-pill" ng-repeat="volTime in contactVolTime" ng-bind="volTime"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 padding-right-0">
                    <div class="main-border1 background-white">
                        <h4 class="margin-top-0 bold">Recent job postings:</h4>
                        <div class="row job margin-rl-0" ng-repeat="job in jobPost">
                            <span>
                                <a href="../../volunteer/jobDetails/jobDetails.html?jobName={{job.jobTitle}}&jobDate={{job.jobDate}}&owner={{$root.owner}}" ng-bind="job.jobTitle">
                                </a>
                            </span>
                            <span ng-bind="job.jobDate" class="pull-right"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="containerB">
            <span class="prototype-scheme">PROTOTYPE</span>
        </div>
    </div>

    <footer>
        <div class="container1">
            <div class="row">
                <div class="col-lg-2">
                    <ul class="footer-link-list" style="padding-left:80px">
                        <li>
                            <a href="#" class="footer-text">About Us </a>
                        </li>
                        <li><a href="#" class="footer-text">Blog </a></li>
                        <li><a href="#" class="footer-text">Feedback </a></li>
                    </ul>
                </div>
                <div class="col-lg-2">
                    <ul class="footer-link-list" style="padding-left:40px">
                        <li>
                            <a href="#" class="footer-text">Comunnity</a>
                        </li>
                        <li><a href="#" class="footer-text">Trust & Safety </a></li>
                        <li><a href="#" class="footer-text">Help & Support </a></li>
                    </ul>
                </div>
                <div class="col-lg-2">
                    <ul class="footer-link-list" style="padding-left:30px">
                        <li>
                            <a href="#" class="footer-text">Enterprise Solutions</a>
                        </li>
                        <li><a href="#" class="footer-text">Terms of Service</a></li>
                        <li><a href="#" class="footer-text">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="col-lg-2">
                    <ul class="footer-link-list" style="padding-left:30px">
                        <li>
                            <a href="#" class="footer-text">Tools</a>
                        </li>
                        <li><a href="#" class="footer-text">Client Resources</a></li>
                        <li><a href="#" class="footer-text">Help & Support</a></li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <div class="social-network-icon-wrap" style="padding-right:60px">
                        <a href="#" class="footer-select social-network-icons">
                            <span class="footer-circle footer-circle-linkedin pull-right">
                                <i class="fa fa-linkedin font-size-20 icon-attr1"> </i>
                            </span>
                        </a>
                        <a href="#" class="social-network-icons">
                            <span class="footer-circle footer-circle-facebook pull-right">
                                <i class="fa fa-facebook font-size-20 icon-attr1"> </i>
                            </span>
                        </a>
                        <a href="#" class="social-network-icons">
                            <span class="footer-circle footer-circle-twitter pull-right">
                                <i class="fa fa-twitter font-size-20 icon-attr1"> </i>
                            </span>
                        </a>
                        <a href="#" class="social-network-icons">
                            <span class="footer-circle footer-circle-google pull-right">
                                <i class="fa fa-google-plus font-size-20 icon-attr1"> </i>
                            </span>
                        </a>
                    </div>
                    <span class="footer-copyrights" id='footer-copyrights' style="padding-right:60px">
                        <span>&#169;&nbsp;Volunteer Corporation</span>
                    </span>
                </div>
            </div>
        </div>
    </footer>

     
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/angular/angular.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/lib/ng-table/ng-table.js"></script>
    <script src="/.tmp/scripts/core.js"></script>
    <script src="controller.js"></script>
    <script src="../../js/imageSlider/imageSlider.js"></script>    
</body>
</html>
