<!doctype html>
<html lang="en" ng-app="OrgVolApp">
<head>
    <meta charset="utf-8">
    <title>Job postings</title>    
    <!-- font for main content -->
    <link href="//fonts.googleapis.com/css?family=PT+Sans:400italic,400,700italic,700"/>
    <link href="../../img/olympia-fav.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="../../lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../../lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="../../css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/organization/postjob/postjob.css"/>
    <link rel="stylesheet" href="../../css/organization/jobPost/jobPost.css"/>
    <link rel="stylesheet" href="../../css/organization/viewApp/viewApp.css"/>    
    <link href="../../css/global.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../css/header/header.css">
    <style type="text/css">
        .superContainer{
            width: 1349px;
            margin: 0 auto;
        }
        .containerA{
            width: 1008px;
            display: inline-block;
        }
        .containerB{
            width: 164px;
            display: inline-block;
            vertical-align: top;
        }
        .container {
            width: 1048px;
        }    
    </style>

</head>
<body ng-controller='jobPostCtrl'>
    <!-- Page Header Section Start-->
    <div ng-include="'../../templates/header.tmpl.html'"></div>
    <!-- Page Header Section End-->
    <div class="superContainer">
        <div class="containerB">
            <span class="prototype-scheme">PROTOTYPE</span>
        </div>
        <div class="containerA">

            <div class="main-border1">
                <div class="row margin-rl-0">
                    <div class="col-sm-4">
                        <div class="panel-title padding-left-0" >
                            <span>Job Postings</span>
                        </div>
                    </div>
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4 align-right">
                        <span>
                            Show: 
                        </span>
                        <select class='form-control' style="width:100px;display:inline" ng-model="statusShow.status" ng-init="statusShow.status = ''" ng-change="callUpdateStatus()">
                            <option value="">All</option>
                            <option value="Open">Open</option>
                            <option value="Closed">Closed</option>
                        </select>
                    </div>
                </div>
                <p style="margin:0px">&nbsp;</p>

                <div class="row margin-rl-0">
                    <div class="col-sm-12" style="padding-left:0px;padding-right:0px">
                        <section class=" accrd_table">
                            <table ng-table="tableParams" class="table">
                            <tr ng-repeat="user in $data | filter:statusShow.status">
                                <td data-title="'Job Title'" sortable="'jobTitle'">
                                    <span><a href="../viewApp/viewApp.html?jobTitle={{user.jobTitle}}&owner={{$root.owner}}&secondOwner={{secondOwner}}">{{user.jobTitle}}</a></span><br/>
                                    <span style="font-size:12px;">{{user.client}}<a style="padding-left:20px" href="../../volunteer/jobDetails/jobDetails.html?jobName={{user.jobTitle}}&jobDate={{user.jobDate}}&owner={{$root.owner}}&secondOwner={{secondOwner}}">View job postings</a></span>
                                </td>
                                <td data-title="'Applicants'" sortable="'Applicants'" class="text-center">
                                    <span><a href="../viewApp/viewApp.html?jobTitle={{user.jobTitle}}&owner={{$root.owner}}&secondOwner={{secondOwner}}">{{user.Applicants}}</a></span>
                                </td>

                                <td data-title="'Messaged'" sortable="'messaged'" class="text-center">
                                    <span><a href="../viewApp/viewApp.html?jobTitle={{user.jobTitle}}&owner={{$root.owner}}&secondOwner={{secondOwner}}">{{user.messaged}}</a></span>
                                </td>

                                <td data-title="'Hired'" sortable="'hired'" class="text-center">
                                    <span><a href="../viewApp/viewApp.html?jobTitle={{user.jobTitle}}&owner={{$root.owner}}&secondOwner={{secondOwner}}">{{user.hired}}</a></span>
                                </td>

                                <td data-title="'Status'"  sortable="'status'" class="text-center">
                                    {{user.status}}
                                </td>
                            </tr>
                            </table>
                        </section>
                        
                    </div>
                </div>
            </div>

        </div>
        <div class="containerB">
            <span class="prototype-scheme">PROTOTYPE</span>
        </div>
    </div>

    <p>&nbsp;</p>
    <p>&nbsp;</p>

    <!-- Page footer Section Start-->
    <div ng-include="'../../templates/footer.tmpl.html'"></div>
    <!-- Page footer Section End-->
    
    <script src="/.tmp/scripts/bower.js"></script>
    <script src="/.tmp/scripts/core.js"></script>
    <script src="controller.js"></script>

</body>
</html>
