<!DOCTYPE html>
<html ng-app="OrgVolApp">
<head>
    <meta charset="utf-8">
    <title>Staff & permission</title>
    
    <link href="../../img/olympia-fav.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="/css/font-awesome.css">
    <link rel="stylesheet" href="/.tmp/styles/app.css" >
    <link rel="stylesheet" href="/.tmp/styles/common.css">
    <style type="text/css">
        .superContainer{
            width: 1349px;
            margin: 0 auto;
        }
        .containerA{
            width: 1008px;
            display: inline-block;
        }
        .containerB{
            width: 164px;
            display: inline-block;
            vertical-align: top;
        }
        .container {
            width: 1048px;
        }
    </style>
</head>

<body ng-controller="landingPage">
    <!-- Page Header Section Start-->
    <div ng-include="'../../../templates/header.tmpl.html'"></div>
    <!-- Page Header Section End-->
    <div class="superContainer">
        <div class="containerB">
            <span class="prototype-scheme">PROTOTYPE</span>
        </div>
        <div class="containerA">
            <div class="main-border1 staffnPer">
                <div class="row margin-rl-0">
                    <div class="panel-title">
                        <span>Manage Users</span>
                    </div>
                    <div class="row margin-rl-0 margin-top-20">
                        <div class="col-sm-12">
                            <section class="accrd_table staff-users">
                                <table ng-table="tableParams" class="table">
                                    <tr ng-repeat="user in $data">
                                        <td data-title="'User Name'" sortable="'username'">
                                            <span><a href="">{{user.username}}</a></span><br/>
                                        </td>
                                        <td data-title="'Full Name'" sortable="'fullName'">
                                            <span><a href="">{{user.fullName}}</a></span><br/>
                                        </td>
                                        <td data-title="'Groups'" sortable="'groups'">
                                            <span  ng-repeat="group in user.groupName track by $index"><a href="">{{user.groupName[$index]}}</a><br/></span>
                                        </td>
                                        <td data-title="'Actions'">
                                            <span><a><i class="fa fa-pencil"></i></a> &nbsp;<a><i class="fa fa-times" ng-click="deleteUser(user)"></i></a></span>
                                        </td>
                                    </tr>
                                </table>
                            </section>
                        </div>
                    </div>
                </div>
                <div class="row margin-rl-0 margin-top-25">
                    <div class="panel-title">
                        <span>Manage Joining Requests</span>
                    </div>
                    <div class="row margin-rl-0 margin-top-20">
                        <div class="col-sm-12">
                            <section class="accrd_table staff-users">
                                <table ng-table="tableParams1" class="table">
                                    <tr ng-repeat="user in $data">
                                        <td data-title="'User Name'" sortable="'username'">
                                            <span><a href="">{{user.username}}</a></span><br/>
                                        </td>
                                        <td data-title="'Full Name'" sortable="'fullName'">
                                            <span><a href="">{{user.fullName}}</a></span><br/>
                                        </td>
                                        <td data-title="'Date'" sortable="'date'">
                                            <span>{{user.date}} </span>
                                        </td>
                                        <td data-title="'Actions'">
                                            <span><a><i class="fa fa-pencil"></i></a> &nbsp;<a><i class="fa fa-times" ng-click="deleteUser(user)"></i></a></span>
                                        </td>
                                    </tr>
                                </table>
                            </section>
                        </div>
                    </div>
                </div>
                
            </div>                
        </div>
        <div class="containerB">
            <span class="prototype-scheme">PROTOTYPE</span>
        </div>
    </div>

    <!-- Page footer Section Start-->
    <div ng-include="'../../../templates/footer.tmpl.html'"></div>
    <!-- Page footer Section End-->

    <script src="/.tmp/scripts/bower.js"></script>
    <script src="/.tmp/scripts/core.js"></script>
    <script src="controller.js"></script>
    <script src="control.js"></script>
</body>
</html>
