<!DOCTYPE html>
<html ng-app="signUp">
<head>
    <title>Create Organization</title>
    <link href="../../img/olympia-fav.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="../../lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../css/font-awesome.css" rel="stylesheet" />
    <link href="../../css/global.css" rel="stylesheet">
    <link href="../../css/signup/signup.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../css/organization/postJob/postJob.css"/>
    <link href="../../css/organization/viewApp/viewApp.css" rel="stylesheet">
    <style type="text/css">
        .superContainer{
            width: 1349px;
            margin: 0 auto;
        }
        .containerA{
            width: 1008px;
            display: inline-block;
        }
        .containerB{
            width: 164px;
            display: inline-block;
            vertical-align: top;
        }
        .container{
            width: 1028px;
            margin: 0 auto;
        }
    </style>

</head>
<body ng-controller="signupController">
    <!-- Page Header Section Start-->
    <header>
        <div class="navbar navbar-default" role="navigation" ng-cloak>
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img src="../../img/logo.png"></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <!-- Volunteer Menu Start-->
                    <ul class="nav navbar-nav">
                        <li><a href="../searchJob/searchJob.html" class='menu-interval'>Search Job</a></li>
                        <li><a href="../jobApplication/jobApplication.html" class='menu-interval'>Job Applications</a></li>
                        <li><a href="../recommendation/recommendation.html" class='menu-interval'>Recommendations</a></li>
                        <li><a href="../volunteerProfile/volunteerProfile.html" class='menu-interval'>My Profile</a></li>
                        <li><a href="../../message/message.html?owner=volunteer" class='menu-interval'>Messages<span class="message-number">23</span></a></li>
                    </ul>
                    <!-- Volunteer Menu end here-->
                    <ul class="nav navbar-nav navbar-right" ng-cloak>
                        <li class='pull-right'><a href="#" id="icons-header-right"><span class="fa fa-question"></a></li>
                        <li class='dropdown pull-right'>
                            <a href="#" class="dropdown-toggle" id="icons-header-right" data-toggle="dropdown"><i class='fa fa-cog'></i></a>
                            <ul class="dropdown-menu">
                                <li role="presentation"><a role="menuitem" href="../createProfileForm/createProfile.html"><img src="../../img/VV_Icon_Profile.png" width="25" height="25"> Edit Profile</a></li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation"><a role="menuitem" href="../../myAccount/myAccount.html?owner=volunteer">&nbsp;<i class='fa fa-wrench'></i> &nbsp;My Account</a></li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation"><a role="menuitem" href="../../changePassword/changePassword.html?owner=volunteer">&nbsp;<i class='fa fa-cog'></i> &nbsp;Change Password</a></li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation"><a role="menuitem" href="../../notificationSettings/notificationSettings.html?owner=volunteer">&nbsp;<i class='fa fa-bell'></i> &nbsp;Notification Settings</a></li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation"><a role="menuitem" href="../createOrganization/createOrganization.html?owner=volunteer">&nbsp;<i class='fa fa-list-alt'></i> &nbsp;Create an Organization</a></li>
                            </ul>
                        </li>
                        <li class='pull-right'><a href="#" id="icons-header-right"><span class="fa fa-exclamation"></a></li>
                        <li class="dropdown pull-right" style="margin-top:5px;" id="username" ng-init="client = true; organization = false" ng-cloak>
                            <a href="#" class="dropdown-toggle"  id="hover-header-right" data-toggle="dropdown"  ng-if="organization == true">Organization &nbsp;<b class="caret"></b></a>
                            <a href="#" class="dropdown-toggle"  id="hover-header-right" data-toggle="dropdown" ng-if="client == true">Volunteer &nbsp;<b class="caret"></b></a>
                            <ul class="dropdown-menu header-right-dropdown" ng-init=" addActive1 = 'make-it-white'">
                                <li role="presentation" ng-cloak><a role="menuitem" ng-model="organization" ng-click="organization = true; client = false; addActive2 = 'make-it-white';addActive1=''" href="../../organization/search/searchVol.html" id="tab-header-1" ng-class="addActive2" ><img src="../../img/VV_Icon_OrganizationLogo.png" width="28" height="28">&nbsp;&nbsp;&nbsp;Organization</a></li>
                                <li role="presentation" class="divider" ng-cloak></li>
                                <li role="presentation" ng-cloak><a role="menuitem" ng-model="client" ng-click="organization = false; client = true; addActive1 = 'make-it-white';addActive2=''" href="../../volunteer/searchJob/searchJob.html" ng-class="addActive1"><img src="../../img/VV_Icon_VolunteerOpportunities.png" width="28" height="28">&nbsp;&nbsp;&nbsp;Volunteer</a></li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation" id="separate-highlight"> 
                                    <span><a role="menuitem"  href="../../myAccount/myAccount.html?owner=volunteer" ng-if="client == true">hans.klevenbeek</a></span>
                                    <span><a role="menuitem"  href="../../myAccount/myAccount.html?owner=volunteer" ng-if="organization == true">hans.klevenbeek</a></span>
                                    <span><a role="menuitem"  href="../../login/login.html">Logout</a></span>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </div>
    </header>

    <!-- Page Header Section End-->
    <div class="superContainer">
        <div class="containerB">
            <span class="prototype-scheme">PROTOTYPE</span>
        </div>

        <div class="containerA">
            <div class="main-border1">
                <div class="row margin-rl-0">
                    <div class="col-sm-12 wrapper-form sign-up-form">
                        
                        <div class="row">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-8">
                                <div class="alert alert-danger" id="errorMsg" style="width:100%">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    <h2>Please fix the following issues</h2>
                                    <ul id="errorList" class="errorList"></ul>
                                </div>
                            </div>
                            <div class="col-sm-2"></div>
                        </div>
                        <!-- Error Placeholder-->
                        <div class='row margin-bottom-20' style="margin-left:0px;">
                            <span class="text-center" id='heading-form' >Create an Organization</span>
                        </div>
                        <!-- Form starts here -->
                        <form role="form" id="jobForm-section2" ng-submit="signupForm()">
                            <div class="row">
                                <!-- creating-organizations starts-->
                                <div>
                                    <div class="row margin-rl-0">
                                        <div class="col-sm-5 center-block">
                                            <div class="form-group">
                                                <label><strong>Organization name</strong></label>
                                                <input type="text" name="Organization" id="organizationName" class="form-control" placeholder="Organization name">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row margin-rl-0">
                                        <div class="col-sm-5 center-block">
                                            <div class="form-group">
                                                <label><strong>Organization nickname </strong></label>
                                                <input type="text" name="nickname" id="nickname" class="form-control" placeholder="Organization nickname">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row margin-rl-0">
                                        <div class="col-sm-5 center-block">
                                            <div class="form-group margin-bottom-0" ng-init="registered = 'no'">
                                                <label><strong>Are you creating a registered organization?</strong></label>
                                                <div class="radio margin-top-0">
                                                    <label>
                                                        <input type="radio" id="registered" ng-model="registered" value="yes"> Yes
                                                    </label>
                                                </div>
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" ng-model="registered" value="no" > No
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-show="registered == 'yes'">
                                        <div class="row margin-rl-0">
                                            <div class="col-sm-5 center-block">
                                                <div class="form-group">
                                                    <label><strong>Please enter the number your organization is registered under</strong></label>
                                                    <input type="text" name="registrationNumber" id="registrationNumber" class="form-control" placeholder=" Registration Number">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row margin-rl-0">
                                            <div class="col-sm-5 center-block" ng-init="typeOfOrganization = 'Company'">
                                                <div class="form-group margin-bottom-0">
                                                    <label><strong>Select what type of organization you are creating:</strong></label>
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="radio margin-top-0">
                                                                <label>
                                                                    <input type="radio" ng-model="typeOfOrganization" value="Company"> Company
                                                                </label>
                                                            </div>
                                                            <div class="radio">
                                                                <label>
                                                                    <input type="radio" ng-model="typeOfOrganization" value="Social entreprise" > Social entreprise
                                                                </label>
                                                            </div>
                                                            <div class="radio margin-bottom-0">
                                                                <label>
                                                                    <input type="radio" ng-model="typeOfOrganization" value="Governement" > Governement
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="radio margin-top-0">
                                                                <label>
                                                                    <input type="radio" ng-model="typeOfOrganization" value="Non-profit" > Non-profit
                                                                </label>
                                                            </div>
                                                            <div class="radio">
                                                                <label>
                                                                    <input type="radio" ng-model="typeOfOrganization" value="Volunteer organization" > Volunteer organization
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row margin-rl-0 margin-top-10">
                                        <div class="col-sm-5 center-block">
                                            <div class="form-group">
                                                <p class="text-align-justify">Our volunteer platform strives to create stronger, thriving communities. The aim of this platform is to enable an effortless connection between caring people and facilitate the coordination of services and volunteers. In order to maintain this service and what it provides, we need the support of sponsors who want to be a part of this exciting initiative. [MAIN SPONSOR] is committed to making this platform a success, and the potential for growth is tremendous. Any business or organization that chooses to sponsor this website is a true team member, to the benefit of all parties.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row margin-rl-0" ng-if="(typeOfOrganization == 'Company' || typeOfOrganization == 'Governement') && registered !== 'no'">
                                        <div class="col-sm-5 center-block">
                                            <div class="checkbox margin-top-0">
                                                <label>
                                                    <input type="checkbox">We hereby accept the <a>terms and conditions</a> of this platform.
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row margin-rl-0" ng-if="(typeOfOrganization == 'Non-profit' || typeOfOrganization == 'Volunteer organization' || typeOfOrganization == 'Social entreprise') && registered !== 'no' ">
                                        <div class="col-sm-5 center-block" >
                                            <div class="checkbox text-align-justify margin-top-0">
                                                <label>
                                                    <input type="checkbox">We hereby accept the <a>terms and conditions</a> of this platform and its services with a sponsorship contribution from our organization. This <a>sponsorship</a> entails full access to the volunteer platform and the volunteer community, help desk support, integration with your site and all volunteer recruitment tool sets the platform provides. We will acknowledge this contribution from [MAIN SPONSOR] on our organization's website.
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- creating-organizations ends-->
                                 <div class="col-sm-5 center-block">
                                    <input type="submit" class="btn btn-success btn-signup" value="Get Started" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="containerB">
            <span class="prototype-scheme">PROTOTYPE</span>
        </div>
    </div>

    <footer>
        <div class="container1">
            <div class="row">
                <div class="col-sm-2">
                    <ul class="footer-link-list" style="padding-left:80px">
                        <li>
                            <a href="#" class="footer-text">About Us </a>
                        </li>
                        <li><a href="#" class="footer-text">Blog </a></li>
                        <li><a href="#" class="footer-text">Feedback </a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <ul class="footer-link-list" style="padding-left:40px">
                        <li>
                            <a href="#" class="footer-text">Comunnity</a>
                        </li>
                        <li><a href="#" class="footer-text">Trust & Safety </a></li>
                        <li><a href="#" class="footer-text">Help & Support </a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <ul class="footer-link-list" style="padding-left:30px">
                        <li>
                            <a href="#" class="footer-text">Enterprise Solutions</a>
                        </li>
                        <li><a href="#" class="footer-text">Terms of Service</a></li>
                        <li><a href="#" class="footer-text">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <ul class="footer-link-list" style="padding-left:30px">
                        <li>
                            <a href="#" class="footer-text">Tools</a>
                        </li>
                        <li><a href="#" class="footer-text">Client Resources</a></li>
                        <li><a href="#" class="footer-text">Help & Support</a></li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <div class="social-network-icon-wrap"  style="padding-right:60px">
                        <a href="#" class="footer-select social-network-icons">
                            <span class="footer-circle footer-circle-linkedin pull-right">
                                <span class="fa fa-linkedin font-size-20 icon-attr1"> </i>
                            </span>
                        </a>
                        <a href="#" class="social-network-icons">
                            <span class="footer-circle footer-circle-facebook pull-right">
                                <span class="fa fa-facebook font-size-20 icon-attr1"> </i>
                            </span>
                        </a>
                        <a href="#" class="social-network-icons">
                            <span class="footer-circle footer-circle-twitter pull-right">
                                <span class="fa fa-twitter font-size-20 icon-attr1"> </i>
                            </span>
                        </a>
                        <a href="#" class="social-network-icons">
                            <span class="footer-circle footer-circle-google pull-right">
                                <span class="fa fa-google-plus font-size-20 icon-attr1"> </i>
                            </span>
                        </a>
                    </div>
                    <span class="footer-copyrights" id='footer-copyrights' style="padding-right:60px">
                        <span>&#169;&nbsp;Volunteer Corporation</span>
                    </span>
                </div>
            </div>
        </div>
    </footer>
    <script src="../../lib/jquery/dist/jquery.min.js"></script>
    <script src="../../lib/angular/angular.min.js"></script>
    <script src="../../lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="controller.js"></script>
</body>
</html>
