<!DOCTYPE html>
<html ng-app="OrgVolApp">
<head>
    <title>Create Organization</title>
    <link href="../../img/olympia-fav.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="../../lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="../../css/font-awesome.css" rel="stylesheet">
    <link href="../../css/signup/signup.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../css/organization/postJob/postJob.css"/>
    <link href="../../css/global.css" rel="stylesheet">
    <link href="../../css/organization/viewApp/viewApp.css" rel="stylesheet">
     <style type="text/css">
        .superContainer{
            width: 1349px;
            margin: 0 auto;
            margin-top: 20px;
        }
        .containerA{
            width: 1008px;
            display: inline-block;
        }
        .containerB{
            width: 164px;
            display: inline-block;
            vertical-align: top;
        }
        .container{
            width: 1028px;
            margin: 0 auto;
        }
    </style>

</head>
<body ng-controller="signupController">
    <!-- Page Header Section Start-->
    <div ng-include="'../../templates/header.tmpl.html'"></div>
    <!-- Page Header Section End-->

    <div class="superContainer">
        <div class="containerB">
            <span class="prototype-scheme">PROTOTYPE</span>
        </div>

        <div class="containerA">
            <div class="main-border1">
                <div class="row margin-rl-0">
                    <div class="col-sm-12 wrapper-form sign-up-form">
                        
                        <div class="row">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-8">
                                <div class="alert alert-danger" id="errorMsg" style="width:100%">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    <h2>Please fix the following issues</h2>
                                    <ul id="errorList" class="errorList"></ul>
                                </div>
                            </div>
                            <div class="col-sm-2"></div>
                        </div>
                        <!-- Error Placeholder-->
                        <div class='row margin-bottom-20'>
                            <span class="text-center" id='heading-form' >Create an Organization</span>
                        </div>
                        <!-- Form starts here -->
                        <form role="form" id="jobForm-section2" ng-submit="signupForm()">
                            <div class="row">
                                <!-- creating-organizations starts-->
                                <div class="row margin-rl-0">
                                    <div class="col-sm-5 center-block">
                                        <div class="form-group margin-bottom-0">
                                            <label><strong>Select what type of organization you are creating:</strong></label>
                                            <div class="row" ng-init="typeOfOrganization = 'Volunteer group'">
                                                <div class="col-sm-6 margin-left-15">
                                                    <div class="radio">
                                                        <label>
                                                            <input type="radio" remove-error-box ng-model="typeOfOrganization" value="Volunteer group" > Volunteer group
                                                        </label>
                                                    </div>
                                                    <div class="radio">
                                                        <label>
                                                            <input type="radio" remove-error-box ng-model="typeOfOrganization" value="Non-profit" > Non-profit organization
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-5">
                                                    <div class="radio">
                                                        <label>
                                                            <input type="radio" remove-error-box ng-model="typeOfOrganization" value="Profit organization" > Profit organization
                                                        </label>
                                                    </div>
                                                    <div class="radio margin-bottom-0">
                                                        <label>
                                                            <input type="radio" remove-error-box ng-model="typeOfOrganization" value="Political Organization" > Political organization
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div  ng-show="typeOfOrganization !== 'Volunteer group'">
                                    <div class="row margin-rl-0">
                                        <div class="col-sm-5 center-block">
                                            <div class="form-group">
                                                <label><strong>Organization name</strong></label>
                                                <input type="text" name="Organization" id="organizationName" class="form-control" placeholder="Organization name">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row margin-rl-0">
                                        <div class="col-sm-5 center-block">
                                            <div class="form-group">
                                                <label><strong>Organization nickname </strong></label>
                                                <input type="text" name="nickname" id="nickname" class="form-control" placeholder="Organization nickname">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row margin-rl-0">
                                        <div class="col-sm-5 center-block">
                                            <div class="form-group">
                                                <label><strong>Please enter the number your organization is registered under</strong></label>
                                                <input type="text" name="registrationNumber" id="registrationNumber" class="form-control" placeholder=" Registration Number">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div ng-show="typeOfOrganization === 'Volunteer group'">
                                    <div class="row margin-rl-0" >
                                        <div class="col-sm-5 center-block">
                                            <div class="form-group">
                                                <label><strong>Group name</strong></label>
                                                <input type="text" name="Groupname" id="organizationName" class="form-control" placeholder="Group name">
                                            </div>
                                        </div>
                                    </div>    
                                </div>
                                <div class="row margin-rl-0" >
                                    <div class="col-sm-5 center-block checks">
                                        <div class="form-group margin-top-10" ng-if="typeOfOrganization == 'Non-profit' ">
                                            <p>Our platform strives to create stranger, thriving communities. The aim of this platform is to enable an effortless connection between caring people and facilitatethe coordination of services and volunteers. In order to maintain the services and what it provides, we need the support of sponsors who want to be a part of this exciting initiative.</p>
                                            <p><a href="">MAIN SPONSOR</a> is committed to making this platform a success, and the potential for growth is tremendous. Any business or organization that chooses to sponsor this website is a true team member, to the benefit of all parties.</p>
                                        </div>
                                        
                                        <div class="checkbox" ng-if="typeOfOrganization == 'Non-profit'">
                                            <label >
                                                <input type="checkbox"> Yes, I agree with the <a href="#">general terms and conditions</a> and sponsor agreement.
                                            </label>
                                         </div>
                                        <div class="checkbox"  ng-if="typeOfOrganization == 'Profit organization' || typeOfOrganization == 'Volunteer group' || typeOfOrganization == 'Political Organization'">
                                            <label>
                                                <input type="checkbox"> Yes, I agree with the <a href="#">general terms and conditions</a> 
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Yes, I would like to receive genuinely useful emails every now and then.
                                            </label>
                                        </div>
                                    </div>
                                </div>    
                                <div class="col-sm-5 center-block">
                                    <input type="submit" class="btn btn-success btn-signup" value="Get Started" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="containerB">
            <span class="prototype-scheme">PROTOTYPE</span>
        </div>
    </div>

    <!-- Page footer Section Start-->
    <div ng-include="'../../templates/footer.tmpl.html'"></div>
    <!-- Page footer Section End-->
    <script src="/.tmp/scripts/bower.js"></script>
    <script src="/.tmp/scripts/core.js"></script>
    <script src="controller.js"></script>
</body>
</html>
