<!doctype html>
<html lang="en" ng-app="OrgVolApp">
<head>
    <meta charset="utf-8">
    <title>Social media</title>
    
    <link href="../../img/olympia-fav.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="../../lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="../../css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/organization/postJob/postJob.css"/>
    <link rel="stylesheet" href="../../css/volunteer/jobDetails/jobDetails.css"/>
    <link href="../../css/global.css" rel="stylesheet">
    <link href="../../css/organization/viewApp/viewApp.css" rel="stylesheet">
    <style type="text/css">
        .superContainer{
            width: 1349px;
            margin: 0 auto;
            margin-top: 20px;
        }
        .containerA{
            width: 1008px;
            display: inline-block;
        }
        .containerB{
            width: 164px;
            display: inline-block;
            vertical-align: top;
        }
    </style>
</head>
<body ng-controller="socialMediaCtrl">
    <!-- Page Header Section Start-->
    <div ng-include="'../../templates/header.tmpl.html'"></div>
    <!-- Page Header Section End-->
    <div class="superContainer">
        <div class="containerB">
            <span class="prototype-scheme">PROTOTYPE</span>
        </div>    
        <div class="containerA">
            <div class="row main-border1 margin-rl-0">
                <div class="col-sm-12 padding-rl-0">
                    <div class="row margin-rl-0">
                        <div class="col-sm-5  padding-rl-0" >
                            <span class="text-center" id='heading-form'>Publish to Social Media</span>
                        </div>
                        <div class="col-sm-7">
                            &nbsp;
                        </div>
                    </div>
                    <div class="row margin-rl-0 margin-top-20">
                        <div class="col-sm-5 padding-rl-0">
                            <h4>LinkedIn <span class="fa fa-linkedin-square"></span> </h4>
                        </div>
                    </div>
                     <div class="row margin-rl-0">
                        <p><a href="#">vrijwilligersvacaturebank.nl</a> can post jobs as a status update or post the jobs on the LinkedIn job board. If you don't have a recruiter account on LinkedIn for posting jobs, you can automatically buy credits through <a href="#">vrijwilligersvacaturebank.nl</a> and post your job on the LinkedIn job board as well.</p>
                    </div>
                    <div class="row margin-rl-0">
                        <div class="col-lg-7">
                            <div class="alert alert-danger col-sm-11" id="errorMsg1">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <h2 class="text-center margin-top-0">Please fix the following issues</h2>
                                <ul id="errorList1" class="errorList" style="margin-bottom:35px"></ul>
                            </div>
                        </div>
                    </div>
                    <form id="linkedinForm" name="linkedinForm">
                        <div class="row margin-rl-0">
                            <div class="col-sm-2 padding-rl-0 padding-top-7">
                                <label>LinkedIn login name:</label>
                            </div>
                            <div class="col-sm-8 padding-rl-0">
                                <input type="text" class="col-sm-6" placeholder="User ID/Email" ng-model="linkedinID" id="linkedinID"/>
                            </div>
                        </div>
                        <div class="row margin-rl-0 margin-top-15">
                            <div class="col-sm-2 padding-rl-0 padding-top-7">
                                <label>LinkedIn password:</label>
                            </div>
                            <div class="col-sm-8 padding-rl-0">
                                <input type="text" class="col-sm-6" placeholder="********" ng-model="linkedinPass" id="linkedinPass"/>
                            </div>
                        </div>
                        <div class="row margin-rl-0 margin-top-15">
                            <div class="col-sm-2">
                                &nbsp;
                            </div>
                            <div class="col-sm-8 padding-rl-0">
                                <div class='col-sm-4 padding-rl-0'>
                                    <button class='btn btn-success' type="submit">Update</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- Twitter starts-->

                    <div class="row margin-rl-0 margin-top-30">
                        <div class="col-sm-5 padding-rl-0">
                            <h4>Twitter <span class="fa fa-twitter-square"></h4>
                        </div>
                    </div>
                     <div class="row margin-rl-0">
                        <p>When a job is posted as a Tweet the job title and region are usually used. <a href="#">vrijwilligersvacaturebank.nl</a> will automatically make the job title, region and link to the job fit Twitter's 140 characters limit.</p>
                    </div>

                    <div class="row margin-rl-0">
                        <div class="col-lg-7">
                            <div class="alert alert-danger col-sm-11" id="errorMsg2">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <h2 class="text-center margin-top-0">Please fix the following issues</h2>
                                <ul id="errorList2" class="errorList" style="margin-bottom:35px"></ul>
                            </div>
                        </div>
                    </div>
                    <form id="twitterForm" name="twitterForm">
                        <div class="row margin-rl-0">
                            <div class="col-sm-2 padding-rl-0 padding-top-7">
                                <label>Twitter login name:</label>
                            </div>
                            <div class="col-sm-8 padding-rl-0">
                                <input type="text" class="col-sm-6" placeholder="User ID/Email" ng-model="twitterID" id="twitterID"/>
                            </div>
                        </div>
                        <div class="row margin-rl-0 margin-top-15">
                            <div class="col-sm-2 padding-rl-0 padding-top-7">
                                <label>Twitter password:</label>
                            </div>
                            <div class="col-sm-8 padding-rl-0">
                                <input type="text" class="col-sm-6" placeholder="********" ng-model="twitterPass" id="twitterPass"/>
                            </div>
                        </div>
                        <div class="row margin-rl-0 margin-top-15">
                            <div class="col-sm-2">
                                &nbsp;
                            </div>
                            <div class="col-sm-8 padding-rl-0">
                                <div class='col-sm-4 padding-rl-0'>
                                    <button class='btn btn-success' type="submit">Update</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- Twitter ends -->

                    <!-- Facebook starts-->

                    <div class="row margin-rl-0 margin-top-30">
                        <div class="col-sm-5 padding-rl-0">
                            <h4>Facebook<span class="fa fa-facebook-square margin-left-10"></span></h4>
                        </div>
                    </div>
                     <div class="row margin-rl-0">
                        <p>You can post jobs to Facebook using <a href="#">vrijwilligersvacaturebank.nl</a> as a status update on your fan page or to your Facebook app.</p>
                    </div>
                    <div class="row margin-rl-0">
                        <div class="col-lg-7">
                            <div class="alert alert-danger col-sm-11" id="errorMsg3">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <h2 class="text-center margin-top-0">Please fix the following issues</h2>
                                <ul id="errorList3" class="errorList" style="margin-bottom:35px"></ul>
                            </div>
                        </div>
                    </div>
                    <form id="facebookForm" name="facebookForm">
                        <div class="row margin-rl-0">
                            <div class="col-sm-2 padding-rl-0 padding-top-7">
                                <label>Facebook login name:</label>
                            </div>
                            <div class="col-sm-8 padding-rl-0">
                                <input type="text" class="col-sm-6" placeholder="User ID/Email" ng-model="facebookID" id="facebookID"/>
                            </div>
                        </div>
                        <div class="row margin-rl-0 margin-top-15">
                            <div class="col-sm-2 padding-rl-0 padding-top-7">
                                <label>Facebook password:</label>
                            </div>
                            <div class="col-sm-8 padding-rl-0">
                                <input type="text" class="col-sm-6" placeholder="********"  ng-model="facebookPass" id="facebookPass"/>
                            </div>
                        </div>
                        <div class="row margin-rl-0 margin-top-15">
                            <div class="col-sm-2">
                                &nbsp;
                            </div>
                            <div class="col-sm-8 padding-rl-0">
                                <div class='col-sm-4 padding-rl-0'>
                                    <button class='btn btn-success' type="submit">Update</button>
                                </div>
                            </div>
                        </div>
                    </form>

                    <!-- Facebook ends -->

                    <!-- Automatic landing page starts-->

                    <div class="row margin-rl-0 margin-top-30">
                        <div class="col-sm-5 padding-rl-0">
                            <h4>Automatic landing pages</h4>
                        </div>
                    </div>
                     <div class="row margin-rl-0">
                        <p>Post your job as a status update on Twitter, Facebook or LinkedIn and candidates will be redirected to the job description in your look and feel. <a href="#">vrijwilligersvacaturebank.nl</a> will keep track of the number of clicks for you.</p>
                    </div>
                    <div class="row margin-rl-0">
                        <div class="col-sm-12 padding-rl-0 padding-top-7">
                            <p>go to <a href="../../integrationSettings/integrationSettings.html?owner={{$root.owner}}&secondOwner={{$root.secondOwner}}">integration settings</a> configuration screen...</p>
                        </div>
                    </div>
                    

                    <!-- Automatic landing page ends -->
                    
                </div>
            </div>
        </div>
        <div class="containerB">
            <span class="prototype-scheme">PROTOTYPE</span>
        </div>
    </div>
    <footer>
        <div class="container1">
            <div class="row">
                <div class="col-lg-2">
                    <ul class="footer-link-list" style="padding-left:80px">
                        <li>
                            <a href="#" class="footer-text">About Us </a>
                        </li>
                        <li><a href="#" class="footer-text">Blog </a></li>
                        <li><a href="#" class="footer-text">Feedback </a></li>
                    </ul>
                </div>
                <div class="col-lg-2">
                    <ul class="footer-link-list" style="padding-left:40px">
                        <li>
                            <a href="#" class="footer-text">Comunnity</a>
                        </li>
                        <li><a href="#" class="footer-text">Trust & Safety </a></li>
                        <li><a href="#" class="footer-text">Help & Support </a></li>
                    </ul>
                </div>
                <div class="col-lg-2">
                    <ul class="footer-link-list" style="padding-left:30px">
                        <li>
                            <a href="#" class="footer-text">Enterprise Solutions</a>
                        </li>
                        <li><a href="#" class="footer-text">Terms of Service</a></li>
                        <li><a href="#" class="footer-text">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="col-lg-2">
                    <ul class="footer-link-list" style="padding-left:30px">
                        <li>
                            <a href="#" class="footer-text">Tools</a>
                        </li>
                        <li><a href="#" class="footer-text">Client Resources</a></li>
                        <li><a href="#" class="footer-text">Help & Support</a></li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <div class="social-network-icon-wrap padding-right-65">
                        <a href="#" class="footer-select social-network-icons">
                            <span class="footer-circle footer-circle-linkedin pull-right">
                                <span class="fa fa-linkedin font-size-20 icon-attr1"> </i>
                            </span>
                        </a>
                        <a href="#" class="social-network-icons">
                            <span class="footer-circle footer-circle-facebook pull-right">
                                <span class="fa fa-facebook font-size-20 icon-attr1"> </i>
                            </span>
                        </a>
                        <a href="#" class="social-network-icons">
                            <span class="footer-circle footer-circle-twitter pull-right">
                                <span class="fa fa-twitter font-size-20 icon-attr1"> </i>
                            </span>
                        </a>
                        <a href="#" class="social-network-icons">
                            <span class="footer-circle footer-circle-google pull-right">
                                <span class="fa fa-google-plus font-size-20 icon-attr1"> </i>
                            </span>
                        </a>
                        <a href="#" class="social-network-icons">
                            <span class="footer-circle footer-circle-google pull-right">
                                <span class="fa fa-rss font-size-20 icon-attr1"> </i>
                            </span>
                        </a>
                    </div>
                    <span class="footer-copyrights padding-right-65" id='footer-copyrights' >
                        <span>&#169;&nbsp;Volunteer Corporation</span>
                    </span>
                </div>
            </div>
        </div>
    </footer>

    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/angular/angular.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/lib/ng-table/ng-table.js"></script>
    <script src="/.tmp/scripts/core.js"></script>
    <script src="controller.js"></script>

</body>
</html>