<!doctype html>
<html lang="en" ng-app="socialMediaController">
<head>
    <meta charset="utf-8">
    <title>OLYMPIA</title>
    
    <link href="../../img/olympia-fav.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="../../lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="../../css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/organization/postJob/postJob.css"/>
    <link rel="stylesheet" href="../../css/volunteer/jobDetails/jobDetails.css"/>
    <link href="../../css/global.css" rel="stylesheet">
    <link href="../../css/organization/viewApp/viewApp.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../css/header/header.css">
    <style type="text/css">
        .superContainer{
            width: 1349px;
            margin: 0 auto;
        }
        .containerA{
            width: 1008px;
            display: inline-block;
        }
        .containerB{
            width: 164px;
            display: inline-block;
            vertical-align: top;
        }
    </style>
</head>
<body ng-controller="socialMediaCtrl">
    <!-- Page Header Section Start-->
    <header>
        <nav class="navbar navbar-default" role="navigation">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#"><img src="../../img/logo.png"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="../search/searchVol.html"  class='menu-interval'>Search Volunteer</a></li>
                <li><a href="../postJob/postjob.html"  class='menu-interval'>Post a Job</a></li>
                <li><a href="../jobPost/jobPost.html" class='menu-interval'>Job Postings</a></li>
                <li><a href="../../message/message.html?owner=organization" class='menu-interval'>Messages</a></li>
              </ul>
              
              <ul class="nav navbar-nav navbar-right">
                <li class='pull-right'><a href="#" id="icons-header-right"><span class="fa fa-question"></a></li>
                <li class='dropdown pull-right'>
                    <a href="#" class="dropdown-toggle" id="icons-header-right" data-toggle="dropdown"><i class='fa fa-cog'></i></a>
                    <ul class="dropdown-menu">
                        <li role="presentation"><a role="menuitem" href="../organizationProfile/organizationProfile.html"><img src="../../img/VV_Icon_OrganizationLogo.png" width="25" height="25"> My Profile</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation"><a role="menuitem" href="../../myAccount/myAccount.html?owner=organization">&nbsp;<i class='fa fa-wrench'></i> &nbsp;My Account</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation"><a role="menuitem" href="../../changePassword/changePassword.html?owner=organization">&nbsp;<i class='glyphicon glyphicon-cog'></i> &nbsp;Change Password</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation"><a role="menuitem" href="../../notificationSettings/notificationSettings.html?owner=organization">&nbsp;<i class='fa fa-bell'></i> &nbsp;Notification Settings</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation"><a role="menuitem" href="../../integrationSettings/integrationSettings.html?owner=organization">&nbsp;<i class='fa fa-list-alt'></i> &nbsp;Integration Settings</a></li>
                        <li role="presentation" class="divider" ng-if="typeOfOwner == 'organization'"></li>
                        <li role="presentation" ng-if="typeOfOwner == 'organization'">
                            <a role="menuitem" href="#">&nbsp;<i class='fa fa-share-alt'></i> &nbsp;Publish to social media
                            </a>
                        </li>
                    </ul>
                </li>
                <li class='pull-right' ><a href="#" id="icons-header-right"><span class="fa fa-exclamation"></a></li>
                <li class="dropdown pull-right" style="margin-top:5px;" id="username" ng-init="client = false; organization = true">
                    <a href="#" class="dropdown-toggle"  id="hover-header-right" data-toggle="dropdown"  ng-if="organization == true">Organization &nbsp;<b class="caret"></b></a>
                    <a href="#" class="dropdown-toggle"  id="hover-header-right" data-toggle="dropdown" ng-if="client == true">Volunteer &nbsp;<b class="caret"></b></a>
                    <ul class="dropdown-menu header-right-dropdown" ng-init=" addActive2 = 'make-it-white'">
                        <li role="presentation" ><a role="menuitem" ng-model="organization" ng-click="organization = true; client = false; addActive2 = 'make-it-white';addActive1=''"  href="../../organization/search/searchVol.html" id="tab-header-1" ng-class="addActive2"><img src="../../img/VV_Icon_Volunteers.png" width="28" height="28">&nbsp;&nbsp;&nbsp;Organization</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation" ><a role="menuitem" ng-model="client" ng-click="organization = false; client = true; addActive1 = 'make-it-white';addActive2=''" href="../../volunteer/searchJob/searchJob.html" ng-class="addActive1"><img src="../../img/VV_Icon_Profile.png" width="28" height="28">&nbsp;&nbsp;&nbsp;Volunteer</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation" id="separate-highlight"> 
                            <span><a role="menuitem" href="../../myAccount/myAccount.html?owner=organization" ng-if="client == true">hans.klevenbeek</a></span>
                            <span><a role="menuitem" href="../../myAccount/myAccount.html?owner=organization" ng-if="organization == true">hans.klevenbeek</a></span>
                            <span><a role="menuitem"  href="../../login/login.html">Logout</a></span>
                        </li>

                    </ul>
                </li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
    </header>
    <!-- Page Header Section End-->
    <div class="superContainer">
        <div class="containerB">
            <span class="prototype-scheme">PROTOTYPE</span>
        </div>    
        <div class="containerA">
            <div class="row main-border1 margin-rl-0">
                <div class="col-sm-12 padding-rl-0">
                    <div class="row margin-rl-0">
                        <div class="col-sm-5  padding-rl-0" >
                            <span class="text-center" id='heading-form'>Publish to social media</span>
                        </div>
                        <div class="col-sm-7">
                            &nbsp;
                        </div>
                    </div>
                    <div class="row margin-rl-0 margin-top-20">
                        <div class="col-sm-5 padding-rl-0">
                            <h4>LinkedIn <span class="fa fa-linkedin-square"></span> </h4>
                        </div>
                    </div>
                     <div class="row margin-rl-0">
                        <p><a href="#">vrijwilligersvacaturebank.nl</a> can post jobs as a status update or post the jobs on the LinkedIn job board. If you don't have a recruiter account on LinkedIn for posting jobs, you can automatically buy credits through <a href="#">vrijwilligersvacaturebank.nl</a> and post your job on the LinkedIn job board as well.</p>
                    </div>
                    <div class="row margin-rl-0">
                        <div class="col-sm-2 padding-rl-0 padding-top-7">
                            <label>LinkedIn login name:</label>
                        </div>
                        <div class="col-sm-8 padding-rl-0">
                            <input type="text" class="col-sm-6" placeholder="User ID/Email"/>
                        </div>
                    </div>
                    <div class="row margin-rl-0 margin-top-15">
                        <div class="col-sm-2 padding-rl-0 padding-top-7">
                            <label>LinkedIn password:</label>
                        </div>
                        <div class="col-sm-8 padding-rl-0">
                            <input type="text" class="col-sm-6" placeholder="********"/>
                        </div>
                    </div>
                    <!-- Twitter starts-->

                    <div class="row margin-rl-0 margin-top-30">
                        <div class="col-sm-5 padding-rl-0">
                            <h4>Twitter <span class="fa fa-twitter-square"></h4>
                        </div>
                    </div>
                     <div class="row margin-rl-0">
                        <p>When a job is posted as a Tweet the job title and region are usually used. <a href="#">vrijwilligersvacaturebank.nl</a> will automatically make the job title, region and link to the job fit Twitter's 140 characters limit.</p>
                    </div>
                    <div class="row margin-rl-0">
                        <div class="col-sm-2 padding-rl-0 padding-top-7">
                            <label>Twitter login name:</label>
                        </div>
                        <div class="col-sm-8 padding-rl-0">
                            <input type="text" class="col-sm-6" placeholder="User ID/Email"/>
                        </div>
                    </div>
                    <div class="row margin-rl-0 margin-top-15">
                        <div class="col-sm-2 padding-rl-0 padding-top-7">
                            <label>Twitter password:</label>
                        </div>
                        <div class="col-sm-8 padding-rl-0">
                            <input type="text" class="col-sm-6" placeholder="********"/>
                        </div>
                    </div>

                    <!-- Twitter ends -->

                    <!-- Facebook starts-->

                    <div class="row margin-rl-0 margin-top-30">
                        <div class="col-sm-5 padding-rl-0">
                            <h4>Facebook<span class="fa fa-facebook-square margin-left-10"></span></h4>
                        </div>
                    </div>
                     <div class="row margin-rl-0">
                        <p>You can post jobs to Facebook using <a href="#">vrijwilligersvacaturebank.nl</a> as a status update on your Fan Page or to your Facebook App.</p>
                    </div>
                    <div class="row margin-rl-0">
                        <div class="col-sm-2 padding-rl-0 padding-top-7">
                            <label>Facebook login name:</label>
                        </div>
                        <div class="col-sm-8 padding-rl-0">
                            <input type="text" class="col-sm-6" placeholder="User ID/Email"/>
                        </div>
                    </div>
                    <div class="row margin-rl-0 margin-top-15">
                        <div class="col-sm-2 padding-rl-0 padding-top-7">
                            <label>Facebook password:</label>
                        </div>
                        <div class="col-sm-8 padding-rl-0">
                            <input type="text" class="col-sm-6" placeholder="********"/>
                        </div>
                    </div>

                    <!-- Facebook ends -->

                    <!-- Automatic landing page starts-->

                    <div class="row margin-rl-0 margin-top-30">
                        <div class="col-sm-5 padding-rl-0">
                            <h4>Automatic landing pages</h4>
                        </div>
                    </div>
                     <div class="row margin-rl-0">
                        <p>Post your job as a status update on Twitter, Facebook or LinkedIn and candidates will be redirected to the job description in your look and feel. <a href="#">vrijwilligersvacaturebank.nl</a> will keep track of the number of clicks for you.</p>
                    </div>
                    <div class="row margin-rl-0">
                        <div class="col-sm-12 padding-rl-0 padding-top-7">
                            <p>go to <a href="../../integrationSettings/integrationSettings.html">Integration settings</a> configuration screen...</p>
                        </div>
                    </div>
                    

                    <!-- Automatic landing page ends -->
                    
                </div>
            </div>
        </div>
        <div class="containerB">
            <span class="prototype-scheme">PROTOTYPE</span>
        </div>
    </div>
    <footer>
        <div class="container1">
            <div class="row">
                <div class="col-lg-2">
                    <ul class="footer-link-list" style="padding-left:80px">
                        <li>
                            <a href="#" class="footer-text">About Us </a>
                        </li>
                        <li><a href="#" class="footer-text">Blog </a></li>
                        <li><a href="#" class="footer-text">Feedback </a></li>
                    </ul>
                </div>
                <div class="col-lg-2">
                    <ul class="footer-link-list" style="padding-left:40px">
                        <li>
                            <a href="#" class="footer-text">Comunnity</a>
                        </li>
                        <li><a href="#" class="footer-text">Trust & Safety </a></li>
                        <li><a href="#" class="footer-text">Help & Support </a></li>
                    </ul>
                </div>
                <div class="col-lg-2">
                    <ul class="footer-link-list" style="padding-left:30px">
                        <li>
                            <a href="#" class="footer-text">Enterprise Solutions</a>
                        </li>
                        <li><a href="#" class="footer-text">Terms of Service</a></li>
                        <li><a href="#" class="footer-text">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="col-lg-2">
                    <ul class="footer-link-list" style="padding-left:30px">
                        <li>
                            <a href="#" class="footer-text">Tools</a>
                        </li>
                        <li><a href="#" class="footer-text">Client Resources</a></li>
                        <li><a href="#" class="footer-text">Help & Support</a></li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <div class="social-network-icon-wrap padding-right-65">
                        <a href="#" class="footer-select social-network-icons">
                            <span class="footer-circle footer-circle-linkedin pull-right">
                                <span class="fa fa-linkedin font-size-20 icon-attr1"> </i>
                            </span>
                        </a>
                        <a href="#" class="social-network-icons">
                            <span class="footer-circle footer-circle-facebook pull-right">
                                <span class="fa fa-facebook font-size-20 icon-attr1"> </i>
                            </span>
                        </a>
                        <a href="#" class="social-network-icons">
                            <span class="footer-circle footer-circle-twitter pull-right">
                                <span class="fa fa-twitter font-size-20 icon-attr1"> </i>
                            </span>
                        </a>
                        <a href="#" class="social-network-icons">
                            <span class="footer-circle footer-circle-google pull-right">
                                <span class="fa fa-google-plus font-size-20 icon-attr1"> </i>
                            </span>
                        </a>
                        <a href="#" class="social-network-icons">
                            <span class="footer-circle footer-circle-google pull-right">
                                <span class="fa fa-rss font-size-20 icon-attr1"> </i>
                            </span>
                        </a>
                    </div>
                    <span class="footer-copyrights padding-right-65" id='footer-copyrights' >
                        <span>&#169;&nbsp;Volunteer Corporation</span>
                    </span>
                </div>
            </div>
        </div>
    </footer>

    <script src="../../lib/jquery/dist/jquery.min.js"></script>
    <script src="../../lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../lib/angular/angular.min.js"></script>
    <script src="../../js/app.js"></script>
    <script src="controller.js"></script>


</body>
</html>