<!DOCTYPE html>
<html ng-app="OrgVolApp">
<head>
    <meta charset="utf-8">
    <title>Organization details</title>
    
    <link href="../../img/olympia-fav.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="../../lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="../../css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/organization/postJob/postJob.css"/>
    <link href="../../css/global.css" rel="stylesheet">
    <link href="../../css/organization/viewApp/viewApp.css" rel="stylesheet">
    
    <link href="../../css/volunteer/jobDetails/jobDetails.css" rel="stylesheet">
    <link href="../../css/slider/slider.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../../css/header/header.css">
    <style type="text/css">
        .superContainer{
            width: 1349px;
            margin: 0 auto;
        }
        .containerA{
            width: 1008px;
            display: inline-block;
        }
        .containerB{
            width: 164px;
            display: inline-block;
            vertical-align: top;
        }
    </style>

</head>

<body ng-controller="jobDetails">
    <!-- Page Header Section Start-->
    <div ng-include="'../../templates/header.tmpl.html'"></div>
    <!-- Page Header Section End-->

    <div class="superContainer">
        <div class="containerB">
            <span class="prototype-scheme">PROTOTYPE</span>
        </div>
        <div class="containerA">

            <div class="row margin-rl-0">
                <div class="col-sm-12 padding-rl-0">
                    <!-- Navigation back to page-->
                    <span>
                        <a href="../search/searchVol.html">
                            <i class="fa fa-chevron-left black-arrow"></i>Back to search results
                        </a>
                    </span>
                </div>
            </div>
            <div class="row margin-rl-0">
                <div class="col-sm-8 padding-rl-0">
                    <div class="main-border1">
                        <img src="../../img/VV_Icon_OrganizationLogo.png" width="70" height="70"/>
                        <div class="inline-block valign-top">
                            <div class="panel-title padding-left-0 inline-block">
                                <span>Rainbow Group</span>
                            </div>
                            <br>
                        </div>
                        <h4 class="bold">
                            About <span>Rainbow Group</span>
                        </h4>
                        <p>Monarch staffing is a local grassroots-oriented company. We are deeply networked throughout the region, continually cultivating through job fairs, professional associations, local events, colleges and universities. We give back to our community - our team is frequently out in the field, helping out-of-work citizens and their marketability through career development workshops, seminars and more. We also provide our clients and networks with interviewing skills training and professional development workshops.</p>
                        <div class="image-scroller">
                            <div class="icon-left" style="top: 34%;">
                                <i class="fa fa-angle-left" id="left"></i>
                            </div>
                            <div id="slides">
                                <img src="../../img/scrolling1.jpg" width="200" height="140" alt="smile" id="image0"/>
                                <img src="../../img/scrolling2.jpg" width="200" height="140" alt="smile" id="image1"/>
                                <img src="../../img/scrolling3.png" width="200" height="140" alt="smile" id="image2"/> 
                                <img src="../../img/scrolling1.jpg" width="200" height="140" alt="smile" id="image3"/> 
                                <img src="../../img/scrolling2.jpg" width="200" height="140" alt="smile" id="image4"/> 
                            </div>
                            <div class="icon-right" style="top: 34%;">
                                <i class="fa fa-angle-right" id="right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="main-border1">
                        <h5 class="margin-bottom-30"><strong>Rainbow Group recent job postings</strong></h5>

                        <div class="row job margin-rl-0" ng-repeat="job in jobPost">

                            <span>
                                <a href="../../volunteer/jobDetails/jobDetails.html?jobName={{job.jobTitle}}&jobDate={{job.jobDate}}" ng-bind="job.jobTitle">
                                </a>
                            </span>
                            <span ng-bind="job.jobDate" class="pull-right"></span>
                        </div>
                    </div>
                    <div class="main-border1">
                        <h5 class="margin-bottom-30"><strong>Rainbow Group work history</strong></h5>

                        <div class="row job margin-rl-0" ng-repeat="job in jobPost">

                            <span>
                                <a href="../../volunteer/jobDetails/jobDetails.html?jobName={{job.jobTitle}}&jobDate={{job.jobDate}}" ng-bind="job.jobTitle">
                                </a>
                            </span>
                            <span ng-bind="job.jobDate" class="pull-right"></span>
                        </div>
                    </div>
                    
                </div>
                <div class="col-sm-4 padding-right-0">
                    <div class="main-border1">
                        <div class="row margin-rl-0">
                            <label>E-mail address:</label>
                            <span class="pull-right">
                                <a href="#">
                                    service@redcross.nl
                                </a>
                            </span>
                        </div>
                        <div class="row margin-rl-0">
                            <label>Website:</label>
                            <span class="pull-right">
                                <a href="http://www.rodekruis.nl">
                                    www.rodekruis.nl
                                </a>
                            </span>
                        </div>
                        <div class="row margin-rl-0">
                            <label>Telephone:</label>
                            <span class="pull-right">
                                +31(0)70-4455678 
                            </span>
                        </div>
                        <div class="row margin-rl-0">
                            <label>Fax:</label>
                            <span class="pull-right">
                                +31(0)70-4455678 
                            </span>
                        </div>
                        <div class="row margin-rl-0">
                            <label>Address:</label>
                            <span class="pull-right">
                                Leeghwaterplein 27
                            </span>
                            <span class="pull-right">
                                2521 CV Den Haag
                            </span>
                        </div>
                        <div class="row margin-rl-0">
                            <a href="" class="pull-right margin-bottom-5" ng-click="hideMap = true" ng-show="!hideMap">Hide map</a>
                            <a href="" class="pull-right margin-bottom-5" ng-click="hideMap = false" ng-show="hideMap">Show map</a>
                            <div class="grid" ng-if="!hideMap">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d156001.6947562717!2d4.9696984!3d52.3427359!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c60955504f6de5%3A0x2ed08c58d2758077!2sRode+Kruislaan%2C+1111+Diemen%2C+The+Netherlands!5e0!3m2!1sen!2sin!4v1408821023776" width="290" height="200" frameborder="0" style="border:0"></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="main-border1">
                        <label class="margin-bottom-10">Staffing Manager</label>
                        <div  ng-repeat="member in members">
                            <div class="row margin-rl-0">
                                <div class="col-sm-3">
                                    <img src="{{member.image}}" width="30" height="30">
                                </div>      
                                <div class="col-sm-9">
                                    <span>
                                        <a href="../../volunteer/volunteerProfile/volunteerProfile.html?name={{member.name}}&city=Amsterdam,%20Noord%20Holland&image={{member.image}}" ng-bind="member.name">
                                        </a>
                                    </span>
                                        <br>
                                    <span>
                                        Amsterdam, Noord Holland
                                    </span>
                                </div>
                            </div>
                            <hr class="user-hr" style="margin-top: 10px;margin-bottom: 10px;" ng-if="$index !== members.length-1">
                        </div>
                    </div>
                    <div class="main-border1">
                        <label class="margin-bottom-10">Rainbow Group Volunteers</label>
                        <div  ng-repeat="member in volunteers">
                            <div class="row margin-rl-0">
                                <div class="col-sm-3">
                                    <img src="{{member.image}}" width="30" height="30">
                                </div>      
                                <div class="col-sm-9">
                                    <span>
                                        <a href="../../volunteer/volunteerProfile/volunteerProfile.html?name={{member.name}}&city=Amsterdam,%20Noord%20Holland&image={{member.image}}" ng-bind="member.name">
                                        </a>
                                    </span>
                                        <br>
                                    <span>
                                        Amsterdam, Noord Holland
                                    </span>
                                </div>
                            </div>
                            <hr class="user-hr" style="margin-top: 10px;margin-bottom: 10px;" ng-if="$index !== volunteers.length-1">
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="containerB">
            <span class="prototype-scheme">PROTOTYPE</span>
        </div>
    </div>

    <footer>
        <div class="container1">
            <div class="row">
                <div class="col-lg-2">
                    <ul class="footer-link-list" style="padding-left:80px">
                        <li>
                            <a href="#" class="footer-text">About Us </a>
                        </li>
                        <li><a href="#" class="footer-text">Blog </a></li>
                        <li><a href="#" class="footer-text">Feedback </a></li>
                    </ul>
                </div>
                <div class="col-lg-2">
                    <ul class="footer-link-list" style="padding-left:40px">
                        <li>
                            <a href="#" class="footer-text">Comunnity</a>
                        </li>
                        <li><a href="#" class="footer-text">Trust & Safety </a></li>
                        <li><a href="#" class="footer-text">Help & Support </a></li>
                    </ul>
                </div>
                <div class="col-lg-2">
                    <ul class="footer-link-list" style="padding-left:30px">
                        <li>
                            <a href="#" class="footer-text">Enterprise Solutions</a>
                        </li>
                        <li><a href="#" class="footer-text">Terms of Service</a></li>
                        <li><a href="#" class="footer-text">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="col-lg-2">
                    <ul class="footer-link-list" style="padding-left:30px">
                        <li>
                            <a href="#" class="footer-text">Tools</a>
                        </li>
                        <li><a href="#" class="footer-text">Client Resources</a></li>
                        <li><a href="#" class="footer-text">Help & Support</a></li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <div class="social-network-icon-wrap" style="padding-right:60px">
                        <a href="#" class="footer-select social-network-icons">
                            <span class="footer-circle footer-circle-linkedin pull-right">
                                <i class="fa fa-linkedin font-size-20 icon-attr1"> </i>
                            </span>
                        </a>
                        <a href="#" class="social-network-icons">
                            <span class="footer-circle footer-circle-facebook pull-right">
                                <i class="fa fa-facebook font-size-20 icon-attr1"> </i>
                            </span>
                        </a>
                        <a href="#" class="social-network-icons">
                            <span class="footer-circle footer-circle-twitter pull-right">
                                <i class="fa fa-twitter font-size-20 icon-attr1"> </i>
                            </span>
                        </a>
                        <a href="#" class="social-network-icons">
                            <span class="footer-circle footer-circle-google pull-right">
                                <i class="fa fa-google-plus font-size-20 icon-attr1"> </i>
                            </span>
                        </a>
                    </div>
                    <span class="footer-copyrights" id='footer-copyrights' style="padding-right:60px">
                        <span>&#169;&nbsp;Volunteer Corporation</span>
                    </span>
                </div>
            </div>
        </div>
    </footer>
    <script src="/.tmp/scripts/bower.js"></script>
    <script src="/.tmp/scripts/core.js"></script>
    <script src="controller.js"></script>
      
</body>
</html>
