<!DOCTYPE html>
<html ng-app="OrgVolApp">
<head>
    <meta charset="utf-8">
    <title>My account</title>
    <link href="../img/olympia-fav.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="../lib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css"/>
    <link href="../lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="../css/font-awesome.css" rel="stylesheet">
    <link href="../css/organization/postJob/postJob.css" rel="stylesheet"/>
    <link href="../css/organization/viewApp/viewApp.css" rel="stylesheet">
    <link href="../css/global.css" rel="stylesheet">
    <style type="text/css">
        .superContainer{
            width: 1349px;
            margin: 0 auto;
            margin-top: 20px;
        }
        .containerA{
            width: 1008px;
            display: inline-block;
        }
        .containerB{
            width: 164px;
            display: inline-block;
            vertical-align: top;
        }
    </style>
</head>

<body ng-controller="changePasswordCntrl">
    <!-- Page Header Section Start-->
    <div ng-include="'../../templates/header.tmpl.html'"></div>
    <!-- Page Header Section End-->
    <div class="superContainer">
        <div class="containerB">
            <span class="prototype-scheme">PROTOTYPE</span>
        </div>
    
        <div class="containerA">
            <div class="row main-border1 margin-rl-0">
                <div class="col-sm-12 padding-rl-0">
                    <div class="row margin-rl-0">
                        <div class="margin-top-20">
                            <span class="panel-title">My Account</span>
                        </div> 
                    </div>
                    <p>&nbsp;</p>
                    <div class="row margin-rl-0">
                        <label>User ID</label>
                    </div>
                    <div class="row margin-rl-0">
                        <span>hans.klevenbeek</span>
                    </div>
                    <div class="row  margin-rl-0 margin-top-15">
                        <label>Email</label>
                    </div>
                    <div class="row margin-rl-0">
                        <input type="text" placeholder="e.g. abc@email.com" class="col-sm-6" maxlength="14" minlength="8" ng-model="account.email" id="password2">
                    </div>
                    <div class="row margin-rl-0 margin-top-15">
                        <label>Phone</label><span id="optional-text">&nbsp;(optional)</span>
                    </div>
                    <div class="row margin-rl-0">
                        <input type="text" placeholder="Phone number" class="col-sm-6" maxlength="14" minlength="8" ng-model="account.phone" id="password3">
                    </div>
                    <div class="row margin-rl-0 margin-top-15">
                        <label>Date of birth</label><span id="optional-text">&nbsp;(optional)</span>
                    </div>
                    <div class="row margin-rl-0">
                        <div class='col-sm-3 padding-rl-0'>
                            <div class="form-group" >
                                <div class='input-group date' id='datetimepicker8'>
                                    <input type='text' id='datepicker1' style="width:210px;border-top-right-radius: 0;border-bottom-right-radius: 0;"/>
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="public"> make it public on volunteer page?
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row margin-rl-0">
                        <div class="margin-top-20 col-sm-12 padding-rl-0">
                            <button class="btn btn-success" type="submit" ng-click="">Update</button>
                            <button class="btn btn-danger" type="button" ng-click="cancel()">Cancel</button>
                        </div>
                    </div>
                    <div class="rowmargin-top-20">&nbsp;</div>
                </div>
            </div>
        </div>
        <div class="containerB">
            <span class="prototype-scheme">PROTOTYPE</span>
        </div>
    </div>
    

    <footer>
        <div class="container1">
            <div class="row">
                <div class="col-lg-2">
                    <ul class="footer-link-list" style="padding-left:80px">
                        <li>
                            <a href="#" class="footer-text">About Us </a>
                        </li>
                        <li><a href="#" class="footer-text">Blog </a></li>
                        <li><a href="#" class="footer-text">Feedback </a></li>
                    </ul>
                </div>
                <div class="col-lg-2">
                    <ul class="footer-link-list" style="padding-left:40px">
                        <li>
                            <a href="#" class="footer-text">Comunnity</a>
                        </li>
                        <li><a href="#" class="footer-text">Trust & Safety </a></li>
                        <li><a href="#" class="footer-text">Help & Support </a></li>
                    </ul>
                </div>
                <div class="col-lg-2">
                    <ul class="footer-link-list" style="padding-left:30px">
                        <li>
                            <a href="#" class="footer-text">Enterprise Solutions</a>
                        </li>
                        <li><a href="#" class="footer-text">Terms of Service</a></li>
                        <li><a href="#" class="footer-text">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="col-lg-2">
                    <ul class="footer-link-list" style="padding-left:30px">
                        <li>
                            <a href="#" class="footer-text">Tools</a>
                        </li>
                        <li><a href="#" class="footer-text">Client Resources</a></li>
                        <li><a href="#" class="footer-text">Help & Support</a></li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <div class="social-network-icon-wrap"  style="padding-right:60px">
                        <a href="#" class="footer-select social-network-icons">
                            <span class="footer-circle footer-circle-linkedin pull-right">
                                <i class="fa fa-linkedin font-size-20 icon-attr1"> </i>
                            </span>
                        </a>
                        <a href="#" class="social-network-icons">
                            <span class="footer-circle footer-circle-facebook pull-right">
                                <i class="fa fa-facebook font-size-20 icon-attr1"> </i>
                            </span>
                        </a>
                        <a href="#" class="social-network-icons">
                            <span class="footer-circle footer-circle-twitter pull-right">
                                <i class="fa fa-twitter font-size-20 icon-attr1"> </i>
                            </span>
                        </a>
                        <a href="#" class="social-network-icons">
                            <span class="footer-circle footer-circle-google pull-right">
                                <i class="fa fa-google-plus font-size-20 icon-attr1"> </i>
                            </span>
                        </a>
                    </div>
                    <span class="footer-copyrights" id='footer-copyrights' style="padding-right:60px">
                        <span>&#169;&nbsp;Volunteer Corporation</span>
                    </span>
                </div>
            </div>
        </div>
    </footer>

    <script src="/.tmp/scripts/bower.js"></script>
    <script src="/.tmp/scripts/core.js"></script>
    <script src="controller.js"></script>
    
</body>
</html>
