<header>
        <nav class="navbar navbar-default" role="navigation">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#"><img src="../../img/logo.png"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="../search/searchVol.html"  class='menu-interval'>Search Volunteer</a></li>
                <li><a href="../postJob/postjob.html"  class='menu-interval'>Post a Job</a></li>
                <li><a href="../jobPost/jobPost.html" class='menu-interval'>Job Postings</a></li>
                <li><a href="../../message/message.html?owner=organization" class='menu-interval'>Messages<span class="message-number">23</span></a></li>
              </ul>
              
              <ul class="nav navbar-nav navbar-right">
                <li class='pull-right'><a href="#" id="icons-header-right"><span class="fa fa-question"></a></li>
                <li class='dropdown pull-right'>
                    <a href="#" class="dropdown-toggle" id="icons-header-right" data-toggle="dropdown"><i class='fa fa-cog'></i></a>
                    <ul class="dropdown-menu">
                        <li role="presentation"><a role="menuitem" href="../organizationProfile/organizationProfile.html"><img src="../../img/VV_Icon_OrganizationLogo.png" width="25" height="25"> Edit Profile</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation"><a role="menuitem" href="../../myAccount/myAccount.html?owner=organization">&nbsp;<i class='fa fa-wrench'></i> &nbsp;My Account</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation"><a role="menuitem" href="../staffAndPermission/staffAndPermission.html?owner=organization">&nbsp;<i class='fa fa-lock'></i> &nbsp; Manage Staff Permissions</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation"><a role="menuitem" href="../../changePassword/changePassword.html?owner=organization">&nbsp;<i class='fa fa-cog'></i> &nbsp;Change Password</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation"><a role="menuitem" href="../../notificationSettings/notificationSettings.html?owner=organization">&nbsp;<i class='fa fa-bell'></i> &nbsp;Notification Settings</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation"><a role="menuitem" href="../../integrationSettings/integrationSettings.html?owner=organization">&nbsp;<i class='fa fa-list-alt'></i> &nbsp;Integration Settings</a></li>
                        <li role="presentation" class="divider" ng-if="typeOfOwner == 'organization'"></li>
                        <li role="presentation" ng-if="typeOfOwner == 'organization'">
                            <a role="menuitem" href="#">&nbsp;<i class='fa fa-share-alt'></i> &nbsp;Publish to Social Media
                            </a>
                        </li>
                    </ul>
                </li>
                <li class='pull-right' ><a href="#" id="icons-header-right"><span class="fa fa-exclamation"></a></li>
                <li class="dropdown pull-right" style="margin-top:5px;" id="username" ng-init="client = false; organization = true">
                    <a href="#" class="dropdown-toggle"  id="hover-header-right" data-toggle="dropdown"  ng-if="organization == true">Organization &nbsp;<b class="caret"></b></a>
                    <a href="#" class="dropdown-toggle"  id="hover-header-right" data-toggle="dropdown" ng-if="client == true">Volunteer &nbsp;<b class="caret"></b></a>
                    <ul class="dropdown-menu header-right-dropdown" ng-init=" addActive2 = 'make-it-white'">
                        <li role="presentation" ><a role="menuitem" ng-model="organization" ng-click="organization = true; client = false; addActive2 = 'make-it-white';addActive1=''"  href="../../organization/search/searchVol.html" id="tab-header-1" ng-class="addActive2"><img src="../../img/VV_Icon_Volunteers.png" width="28" height="28">&nbsp;&nbsp;&nbsp;Organization</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation" ><a role="menuitem" ng-model="client" ng-click="organization = false; client = true; addActive1 = 'make-it-white';addActive2=''" href="../../volunteer/searchJob/searchJob.html" ng-class="addActive1"><img src="../../img/VV_Icon_Profile.png" width="28" height="28">&nbsp;&nbsp;&nbsp;Volunteer</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation" id="separate-highlight"> 
                            <span><a role="menuitem" href="../../myAccount/myAccount.html?owner=organization" ng-if="client == true">hans.klevenbeek</a></span>
                            <span><a role="menuitem" href="../../myAccount/myAccount.html?owner=organization" ng-if="organization == true">hans.klevenbeek</a></span>
                            <span><a role="menuitem"  href="../../login/login.html">Logout</a></span>
                        </li>

                    </ul>
                </li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
    </header>