/* Login Screen */
.dummy{
}

html {
  position: relative;
  min-height: 100%;
}
.container-fluid{
    padding-left:0;
    padding-right:0;
}
/* Login wrapper */
.sign-wrapper{
}
.sign-wrapper .col-lg-5 {
    float:none;
    padding-bottom:11px;
}
.sign-wrapper h2{
    font-size:26px;
    margin-top:0;
    margin-bottom:25px;
}
.sign-wrapper .checkbox{
    padding-left:0;
}
.sign-wrapper .checkbox .btn{

}
.sign-wrapper .checkbox label{
    float:right;
    margin-right:23%;
    margin-top:5px;
}
.sign-wrapper .forgt-pass a{
    margin-top:20px;
    display:block;
}

/*Footer*/
footer p.footer-copyrights{
    color:#fff;
}
