.container{
    width:960px;
}

/* Header */
.navbar{
    border-radius:0;
}
.navbar-default{
    background:#cae3f0;
    border:0;
}
.navbar-brand{
    height:80px;
    padding-top:18px;
}
.wrap-login-text{
    padding-top:26px;
    color:#fff;
}
.wrap-login-text span{
    display:inline-block;
    font-size:13px;
}
.wrap-login-text span a{
    color:#fff;
    font-size:13px;
}
.wrap-login-text span a:hover{
    color:#fff;
    font-size:13px;
    font-weight:bold;
}
.wrap-login-text span.text-bold{
    text-align:right;
}

/* Body */
.wrapper-form{
    padding:20px;
    margin-top:10px;
    border:3px solid #F0F0ED;
    margin-bottom:30px;
    border-radius:5px;
}
.wrapper-form h2{
    margin-top:0;
    margin-bottom:30px;
}
.wrapper-form .center-block{
    float:none;
}
.need-wrapper{
    float:left;
    width:50%;
    margin-top:18px;
    padding-left:20px;
}
.need-wrapper h2{
 margin-bottom:0;   
 font-weight:bold;
 margin-top:5px;
 line-height:24px;
}
.need-wrapper .icon-button{
    width:23%;
    float:left;
}
.need-wrapper .icon-button a{
    margin-bottom:8px;
}
.need-wrapper .need{
    float:right;
    width:77%;
    padding-left:5px;
    padding-right:20px;
}
.need-wrapper .need p{
    margin-bottom:20px;
    font-size:13px;
}
a.user-wrapper{
    display:block;
    float:left;
    background:#32becd;
    border-radius:5px;
    padding:10px 15px 7px 15px;
    border:1px solid #61a8b1;
    border-bottom:2px solid #ccc;
}
a.user-wrapper:hover {
    text-decoration:none
}
a.user-wrapper span{
    font-size:45px;
    color:#fff;
    padding-top:3px;
    display:block;
}
a.orange{
    background:#ffbc1c;
    border:1px solid #fea75c;
    border-bottom:2px solid #ccc;
}
.need-staff{
    text-align:center;
    font-size:13px;
    margin-top:165px;
}


/* Sing up Form*/
.look-Hire{
    position:absolute;
    right:5%;
    font-size:13px;
}
.look-Hire p{
    text-align:right;
    margin-bottom:0;
}
.look-Hire a{
    
}
.sign-up-form{
    text-align:center;
}
.sign-up-form .social-text{
    font-size:11px;
}
.sign-up-form .social-text a{
    text-decoration:underline;
}
.sign-up-form .social-text .fa-facebook-square{
    color:#3b5998;
    font-size:20px;
    vertical-align:-2px;
    padding-right:4px;
}
.sign-up-form .social-text .fa-linkedin-square{
    color:#1777b1;
    font-size:20px;
    vertical-align:-2px;
}
.sign-up-form .social-text .fa-google-plus-square{
    color:#d93c39;
    font-size:20px;
    vertical-align:-2px;
    margin-left:5px;
    margin-right:3px;
}
.sign-up-form .center-block{
    text-align:left;
}
.form-group select{
    width:100%;
    padding:6px 0 6px 5px;
    border:3px solid #d2d2cd ;
    color:#999;
}
.form-group select:focus{
    border-color:#33ccff;
}
.form-group label{
    font-size:13px;
}
.form-group .form-control{
    border-radius:2px;
    border:3px solid #d2d2cd;
    box-shadow:none;
    padding-top:15px;
    padding-bottom:15px;
}
.form-group .form-control:focus{
    border-color:#33ccff;
}
.checkbox{
    margin-top:20px;
}
.checkbox label{
    font-size:13px;
}
.btn-signup{
    width:100%;
    font-weight:bold;
    padding:10px;
}
.agree-text{
    text-align:center;
    font-size:11px;
    padding-top:10px;
    color:#999;
}
.agree-text a{
    text-decoration:underline;
}
.form-group .captchaImg{
    float:left;
    width:65%;
    border:3px solid #d2d2cd;
    height:68px;
    text-align:center;
    font-size:12px;
}
.form-group .captchTxt{
    display:inline-block;
    width:35%;
    font-size:11px;
    padding-left:21px;
}

/* Footer */
p.footer-copyrights{
    color:#a5a5a4;
	font-size: 12px;
	font-weight: 700;
	margin-top:-2px; 
    text-align:center;
}

/* Error */
#errorMsg{
    float:left;
}
#errorMsg h2{ 
    margin-bottom:15px;
}
#errorList li{
    text-align:left;
}
.has-error{

}
.has-error select{
    border-color:#C70909;
}
.has-error select:focus{
    border-color:#C70909;
    box-shadow:none;
}
.has-error label{
    color:#C70909;
}
.has-error .form-control, .has-error.well{
    border-color:#C70909;
}
.has-error .form-control:focus{
    border-color:#C70909;
    box-shadow:none;
}

.signup-orange{
    background-color: #ffffff;
    padding: 15px 10px;
    border: 3px solid #ccc;
    border-radius: 7px;
    color: #111111;
    height: 250px;
}
.signup-orange img,
.signup-green img,
.signup-blue img{
    width: 58px;
}
.signup-orange .row.button-join{
    position: absolute;
    width: 100%;
    bottom: 28px;
    left: -27px;
}


#jobForm-section2 img.icon{
    width: 57px;
}
#jobForm-section2 .or{
    display: table;
    height: 154px;
    text-align: center;
}
#jobForm-section2 .or span {
  display: table-cell;
  vertical-align: middle;
  font-size: 30px;
}
#jobForm-section2 .fa-facebook-square{
    color:#3b5998;
    font-size:20px;
    vertical-align:-2px;
    padding-right:4px;
}
#jobForm-section2 .fa-linkedin-square{
    color:#1777b1;
    font-size:20px;
    vertical-align:-2px;
    padding-right:4px;
}
#jobForm-section2 .fa-google-plus-square{
    color:#d93c39;
    font-size:20px;
    vertical-align:-2px;
    margin-right:3px;
}
#jobForm-section2 .social-media{
    line-height: 32px;
    padding-top: 27px;   
}


.row.show-it-login2 div{
    display: table;
    height: 200px;
    text-align: center;
    vertical-align: middle;
}
.signup-orange1.profile5 .row.show-it-login2 div,
.signup-orange1.profile6 .row.show-it-login2 div,
.signup-orange1.profile7 .row.show-it-login2 div{
    height: 350px;
}
.row.show-it-login2 a{
    display: table-cell;
    vertical-align: middle;
    color: #ffffff;
    letter-spacing: 1px;
    font-size: 16px;
}
.row.show-it-login2 a i{
    font-size: 20px;
    position: relative;
    top: 2px;
}
.row.show-it-login2 a:hover{
    text-decoration: none
}

.signup-orange1{
    background-color: #ffffff;
    padding: 20px 10px 0 10px;
    border: 3px solid #e1e1e1;
    border-radius: 7px;
    color: #111111;
    height: 260px;
}
.signup-orange1 .up, .signup-green .up, .signup-blue .up {
    font-size: 20px;
    padding-top: 15px
}
.signup-orange1 .login{
    position: absolute;
    height: 50px;
    width: 941px;
    bottom: 0;
    left: 0;
    background-color: #e1e1e1;
    border-top: 1px solid #aaaaaa;
    margin: 3px 18px;
    padding: 10px 0 0 10px;
    text-align: center;
    line-height: 31px;
}
.signup-orange1 a.login{
    color: #428bca;
    font-size: 15px;
    font-weight: 600;
}
.signup-orange1 a.login:hover{
    text-decoration: none;
    -webkit-box-shadow: inset 0px 1px 2px 0px rgba(117,115,117,0.43);
    -moz-box-shadow: inset 0px 1px 2px 0px rgba(117,115,117,0.43);
    box-shadow: inset 0px 1px 2px 0px rgba(117,115,117,0.43);
    color: #2a6496;
}
.signup-orange1.profile1 .login,
.signup-orange1.profile2 .login,
.signup-orange1.profile3 .login,
.signup-orange1.profile5 .login,
.signup-orange1.profile6 .login,
.signup-orange1.profile7 .login{
    width: 89%;
}
.signup-orange1.profile1 img,
.signup-orange1.profile2 img,
.signup-orange1.profile3 img,
.signup-orange1.profile4 img,
.signup-orange1.profile5 img,
.signup-orange1.profile6 img,
.signup-orange1.profile7 img{
    width: 58px;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(6, 1, 30, 0.75);
    -moz-box-shadow:    0px 0px 2px 0px rgba(6, 1, 30, 0.75);
    box-shadow:         0px 0px 2px 0px rgba(6, 1, 30, 0.75);
}
.signup-orange1.profile5,
.signup-orange1.profile6,
.signup-orange1.profile7{
    height: 520px;
}
.signup-orange1 .org{
    position: absolute;
    bottom: 90px;
}
.signup-orange1 .org img {
    width: 80px;
    height: 85px;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(117,115,117,1);
    -moz-box-shadow: 3px 3px 5px 0px rgba(117,115,117,1);
    box-shadow: 3px 3px 5px 0px rgba(117,115,117,1);
    margin-right: 5px;
    margin-top: 12px;
}
.signup-orange1 img.org1 {
    width: 170px;
    height: 135px;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(117,115,117,1);
    -moz-box-shadow: 3px 3px 5px 0px rgba(117,115,117,1);
    box-shadow: 3px 3px 5px 0px rgba(117,115,117,1);
    margin-right: 7px;
    margin-top: 12px;
}
.signup-orange1.profile0{
    height: 180px;
}
