.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus
 .navbar-default .navbar-nav > li > a:active{
    background: url('../../img/background.png') left top;
    color: #1489be;
    font-weight: regular;
 }
 header{
    height: 135px;
    border-bottom: 2px solid #dcd6dc;
    margin-bottom: 20px;
}
#submenu  .active  a{
    background: url('../../img/background.png') left top;
    color: #1489be;
    font-weight: regular;
 }
.hide{
	display: none;
}